
.contain {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* izquierda */
.video-background {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#background-video {
  width: 100%;
  object-fit: cover;
}

/*medio*/
.seccion-error {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  width: 60%;
  text-align: center;

  z-index: 2;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.505);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.636);
}

.seccion-error h2,
.seccion-error h4 {
  color: var(--color-titulo);
  text-transform: uppercase;
  margin: 10px 0;
}

/*derecha */

p {
  color: var(--color-texto);
  text-align: center;
  width: 100%;
  font-size: 15px;
  padding: 20px;
}

ul {
  position: relative;
  text-align: center;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  left: -40px;
}

ul li a {
  font-family: "Forum", serif;
  color: rgb(44, 44, 44);
  text-decoration: underline;
  font-size: 15px;
  line-height: 3;
}

ul li a:hover {
  text-decoration: underline;
  color: var(--color-secundario);
}

@media (max-width: 768px) {
  .contain {
    flex-direction: column;
    height: auto;
  }

  .seccion-error {
    width: 90%;
  }
}
