<div class="contain">

  <h2>¡Oops, algo no ha funcionado!</h2>
  <h4>No se encuentra la página que estás buscando.</h4> <br>
  <p>Parece que has llegado a un callejón sin salida. Pero tranquilo, como dice Gandralf, no todos los que deambulan
    están perdidos, así que quizá los links de aquí abajo te sirvan de ayuda y encuentres lo que estás buscando.</p>

  <ul>
    <li><a routerLink="/libreria">Novedades literarias</a></li>
    <li><a routerLink="/blog">Nuestro blog</a></li>
    <li><a routerLink="/club-de-lectura">Club de lectura</a></li>
    <li><a routerLink="/talleres">Proximos talleres</a></li>
  </ul>
</div>
