<div class="contain">
  <div class="video-background">
    <div class="video-wrapper">
      <video id="background-video" src="/assets/img/error-conejo.mp4" autoplay muted loop playsinline>
        Tu navegador no soporta la etiqueta de video.
      </video>
    </div>
  </div>

  <div class="seccion-error">
    <h2>¡Oops, algo no ha funcionado!</h2>
    <h4>No se encuentra la página que estás buscando.</h4>
    <p>Parece que has llegado a un callejón sin salida. Pero tranquilo, como dice Gandalf, no todos los que deambulan
      están perdidos, así que quizá los links de aquí abajo te sirvan de ayuda y encuentres lo que estás buscando.</p>
    <ul>
      <li><a routerLink="/libreria">Novedades literarias</a></li>
      <li><a href="https://margaritasamedianoche.wordpress.com/">Nuestro blog</a></li>
      <li><a routerLink="/club-de-lectura">Club de lectura</a></li>
      <li><a routerLink="/club-de-lectura">Próximos talleres</a></li>
    </ul>
  </div>
</div>
