<div class="contain">

  <section class="libreria-cabecera" id="cabecera">
    <div class="textos">
      <h1>Cofres literarios para vivir al ritmo de las estaciones</h1>

      <p>Déjame hacerte una pregunta sencilla, ¿cuánto hace que no te sientas tranquilamente a leer
        un buen libro, sin pensar en nada más? ¿Cuánto hace que no te regalas un momento para ti,
        para hacer aquello con lo que disfrutas de verdad?</p>

      <p>Seamos sinceros. Las obligaciones y las tareas del día a día se acumulan en una lista
        interminable que nos alejan de cualquier hueco libre que podamos tener. Y en el hipotético
        caso de que paremos un momento y hagamos algo que no sea productivo, la culpa se abalanza
        sobre nosotros para recordarnos el tiempo que estamos “malgastando”.</p> <br>

      <p>Lo cierto es que nadie nos ha enseñado a disfrutar del momento presente, a mirar con otros
        ojos todo lo que nos rodea, y aprovechar nuestro tiempo para las cosas que nos hacen felices
        de verdad. De hecho, puede que ni siquiera sepamos qué es lo que más nos gusta hacer.
        Después de todo, pasamos la mayor parte del día en el trabajo y luego quedan las tareas de
        casa, ir al supermercado, hacer recados… lo último de la lista siempre eres tú.</p> <br>

      <p>Por desgracia, si no decidimos a qué dedicar nuestro tiempo, alguien lo hará por nosotros.
        Sabemos que, en demasiadas ocasiones, la rutina del día a día hace muy difícil sacar un hueco
        para ti.</p>

      <p>Pero, a pesar de lo contradictorio que pueda parecer, los estudios científicos lo han
        confirmado; mantener la mente con sucesivas tareas y aprendizajes es contraproducente.
        Necesitamos momentos de relajación para desarrollar nuestra creatividad. Es decir,
        necesitamos de la pausa, del reposo, para avanzar y ser más efectivos.</p>
    </div>
    <div class="fotografia">
      <img src="assets/img/coffee.jpg" alt="cafe">
    </div>


  </section>


  <section class="section section-2" id="section2">
    <div class="fotografia-section-2">
      <div class="cita-content">
        <q class="cita">A menudo no hacer nada conduce al mejor de los algos</q>
        <p class="cita-p">La frase no es nuestra. Es de uno de los mayores pensadores del siglo XX, Winnie de Pooh. Y no
          podemos estar más de acuerdo.</p>
      </div>
      <img src="assets/img/capsula1.jpg" alt="winnie the pooh">
    </div>

    <div class="textos-section-2">

      <p>Hoy más que nunca es necesario reivindicar esos pequeños momentos que nos hacen levantar
        la cabeza, parar la rueda del hámster y dedicarnos tiempo de calidad. Porque en esos
        momentos es cuando somos más nosotros mismos, cuando las obligaciones y
        responsabilidades desaparecen y aflora nuestra verdadera personalidad. Ahora bien, ¿cómo lo
        hacemos?</p>

      <p class="p-white">No te agobies, tenemos la solución. Hemos diseñado cápsulas literarias donde concentrar un
        poquito de cada estación con el objetivo de generar un compromiso contigo mismo y aprender
        a mirar más bonito. Un momento para dedicarte tiempo de calidad, bajar las revoluciones y
        estar más calmado.</p>

      <p>En ellas encontrarás, como no podía ser de otra manera, un libro, una historia que
        recomendamos por estar bien escrita, por las emociones que transmite, los personajes o la
        temática; una vela porque el olfato está conectado con la memoria, es el sentido más primario
        y nos transporta de forma inmediata a lugares lejanos que creímos olvidados; una postal relacionada con la
        temática
        del momento que luego podrás aprovechar para retomar esa
        bonita afición que era enviar una carta por correo; un detalle comestible para acompañar ese
        momento slow, ya sea una chocolatina o un paquetito de té; algún elemento de papelería y
        alguna sorpresa más. Estas cajas son el perfecto auto regalo para quien quiere bajar el ritmo,
        tomarse las cosas con más calma, disfrutar del momento presente y desconectar de las 800
        tareas pendientes.</p>

      <div class="botones">
        <button><a href="/contacto#section2">QUIERO MI CÁPSULA LITERARIA</a></button>
      </div>
    </div>


  </section>

  <section class="section section-3" id="section3">
    <h5>¿Qué vas a conseguir?</h5>

    <div class="left">
      <ul>
        <li>Sacar tiempo de calidad para ti</li>
        <li>Disfrutar en cada estación de algo que realmente te encanta hacer</li>
        <li>Aprender a bajar el ritmo e ir más lento</li>
        <li>Desarrollar los cinco sentidos acorde a los ritmos de la naturaleza</li>
        <li>Conocer nuevos autores, nuevos sabores y olores.</li>

      </ul>
    </div>


  </section>
  <!-- ((Destacados con testimonios de clientes que ya los han probado))
        ((garantía)) -->
  <section class="section section-4" id="section4">

    <div class="textos4">
      <div class="parrafo1-4">
        <h2>¿Por qué?</h2>
        <p>Nosotras también hemos estado en esa situación. Hemos tenido la sensación de que el día no
          tenía suficientes horas y de que el tiempo se nos escapaba como arena entre los dedos.
          Esperábamos que llegara el fin de semana para dedicarlo a lo que realmente nos gusta pero
          entonces era el momento de hacer coladas, preparar las comidas de la semana… en definitiva,
          nunca teníamos demasiado tiempo para lo realmente importante. Hasta que decidimos
          plantarnos y reivindicar nuestros momentos. <br> Al principio costaba sacar esos huequecitos en el
          día a día y era fácil pensar en dejarlo para otro momento así que tuvimos que agendarlo como
          una tarea más, solo para asegurarnos así de que íbamos a cumplirla. Lo que empezó como una
          extraescolar obligatoria poco a poco se convirtió en aquello que esperábamos el resto del día.
          Y empezamos a mirar la vida con otros ojos. A mirar bonito.</p>
      </div>
    </div>

    <div class="fotografia3">
      <img src="assets/img/tiempo.jpg" alt="reloj">
    </div>
  </section>


  <section class="section section-5" id="section5">
    <div class="textos5">
      <p>Este es el momento perfecto para auto regalarte una cápsula estacional donde encontrar un
        homenaje a los cinco sentidos y aprender a vivir más lento. Haz algo realmente extraordinario
        y reivindica tener tiempo para ti, para hacer aquello que te hace realmente feliz.
      </p>

      <div class="botones">
        <button><a href="/contacto#section2">QUIERO SUSCRIBIRME A LAS CÁPSULAS
            LITERARIAS</a></button>
      </div>

      <p>Si no estás satisfecho con el contenido de la caja al 100%, no te preocupes, puedes devolverla
        en su estado original en un plazo de quince días. Lo único que te pedimos es que la pruebes.
        Tienes mucho que ganar y muy poco que perder. <br> Del mismo modo, si te has suscrito para que
        te las enviemos automáticamente con el cambio de estación y ya no quieres que lo hagamos
        más, puedes cancelar tu suscripción en cualquier momento. No haremos preguntas.
      </p>


    </div>

    <div class="imagenes">
      <!-- <div class="fotografia4">
        <img src="assets/img/libros.jpg" alt="libros">
      </div> -->
      <div class="fotografia5">
        <img src="assets/img/pexels-lilartsy-3150549.jpg" alt="hojas">
      </div>
    </div>
  </section>

  <!-- fichas de productos backend -->
  <section class="section section-6" id="section6">
    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- Primer Producto -->
        <div class="carousel-item active">
          <div class="product">
            <div class="product-content">
              <section class="producto">
                <img class="portada"
                  src="https://m.media-amazon.com/images/I/81nK4VEFOHL._SL1500_.jpg"
                  alt="portada del libro">
                <div class="botones">
                  <button><a routerLink="/contacto">LO NECESITO</a></button>
                </div>
              </section>
              <section class="data">
                <h4>LA SOCIEDAD SECRETA DE BRUJAS REBELDES</h4>
                <p>Si te has preguntado cómo sería mover las cosas con tu mente como Matilda, Prácticamente magia es una
                  de tus películas favoritas y te encantan las historias que ocurren en Inglaterra, esta es tu novela.
                  Te encantará sumergirte en una historia con mucho humor, personajes entrañables de los que, sin duda,
                  te vas a enamorar y optimismo ante lo desconocido en una casa de cuento rodeada de árboles.</p>
                <!-- Acordeón implementado -->
                <div class="accordion" id="accordionExample1">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFichaTecnica1">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFichaTecnica1" aria-expanded="false"
                        aria-controls="collapseFichaTecnica1">
                        Ficha técnica
                      </button>
                    </h2>
                    <div id="collapseFichaTecnica1" class="accordion-collapse collapse"
                      aria-labelledby="headingFichaTecnica1" data-bs-parent="#accordionExample1">
                      <div class="accordion-body">
                        <ul>
                          <li>Páginas: 336</li>
                          <li>Año: 2023</li>
                          <li>Editorial: Ediciones B</li>
                          <li>Traducción: Noemi Risco</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingResenaEditorial1">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseResenaEditorial1" aria-expanded="false"
                        aria-controls="collapseResenaEditorial1">
                        Reseña de la editorial
                      </button>
                    </h2>
                    <div id="collapseResenaEditorial1" class="accordion-collapse collapse"
                      aria-labelledby="headingResenaEditorial1" data-bs-parent="#accordionExample1">
                      <div class="accordion-body">
                        <p>Contenido de la reseña de la editorial.</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTeGustara1">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTeGustara1" aria-expanded="false" aria-controls="collapseTeGustara1">
                        Te gustará si también leíste
                      </button>
                    </h2>
                    <div id="collapseTeGustara1" class="accordion-collapse collapse" aria-labelledby="headingTeGustara1"
                      data-bs-parent="#accordionExample1">
                      <div class="accordion-body">
                        <ul>
                          <li>La casa en el mar más azul, de T.J. Klune</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingLibroPerfecto1">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseLibroPerfecto1" aria-expanded="false"
                        aria-controls="collapseLibroPerfecto1">
                        Un libro perfecto para
                      </button>
                    </h2>
                    <div id="collapseLibroPerfecto1" class="accordion-collapse collapse"
                      aria-labelledby="headingLibroPerfecto1" data-bs-parent="#accordionExample1">
                      <div class="accordion-body">
                        <ul>
                          <li>Desconectar en vacaciones</li>
                          <li>Terminar la historia con una sonrisa</li>
                          <li>Evadirte de la realidad con un toque fantástico</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
        </div>

        <!-- Segundo Producto -->
        <div class="carousel-item">
          <div class="product">
            <div class="product-content">
              <section class="producto">
                <img class="portada"
                  src="https://m.media-amazon.com/images/I/71xbaSasq7L._SL1500_.jpg"
                  alt="portada del libro">
                <div class="botones">
                  <button><a routerLink="/contacto">LO NECESITO</a></button>
                </div>
              </section>
              <section class="data">
                <h4>UN CUENTO PERFECTO</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse repudiandae excepturi laudantium nobis voluptatum ullam tenetur dolore ad corrupti quas vero error incidunt ipsa enim sequi, minus optio nihil. Necessitatibus?</p>
                <!-- Acordeón implementado -->
                <div class="accordion" id="accordionExample2">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFichaTecnica2">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFichaTecnica2" aria-expanded="false"
                        aria-controls="collapseFichaTecnica2">
                        Ficha técnica
                      </button>
                    </h2>
                    <div id="collapseFichaTecnica2" class="accordion-collapse collapse"
                      aria-labelledby="headingFichaTecnica2" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <ul>
                          <li>Páginas: 336</li>
                          <li>Año: 2023</li>
                          <li>Editorial: Ediciones B</li>
                          <li>Traducción: Noemi Risco</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingResenaEditorial2">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseResenaEditorial2" aria-expanded="false"
                        aria-controls="collapseResenaEditorial2">
                        Reseña de la editorial
                      </button>
                    </h2>
                    <div id="collapseResenaEditorial2" class="accordion-collapse collapse"
                      aria-labelledby="headingResenaEditorial2" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <p>Contenido de la reseña de la editorial.</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTeGustara2">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTeGustara2" aria-expanded="false" aria-controls="collapseTeGustara2">
                        Te gustará si también leíste
                      </button>
                    </h2>
                    <div id="collapseTeGustara2" class="accordion-collapse collapse" aria-labelledby="headingTeGustara2"
                      data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <ul>
                          <li>La casa en el mar más azul, de T.J. Klune</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingLibroPerfecto2">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseLibroPerfecto2" aria-expanded="false"
                        aria-controls="collapseLibroPerfecto2">
                        Un libro perfecto para
                      </button>
                    </h2>
                    <div id="collapseLibroPerfecto2" class="accordion-collapse collapse"
                      aria-labelledby="headingLibroPerfecto2" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <ul>
                          <li>Desconectar en vacaciones</li>
                          <li>Terminar la historia con una sonrisa</li>
                          <li>Evadirte de la realidad con un toque fantástico</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
        </div>

        <!-- Tercer Producto -->
        <div class="carousel-item">
          <div class="product">
            <div class="product-content">
              <section class="producto">
                <img class="portada"
                  src="https://m.media-amazon.com/images/I/716dJ3POQ1L._SL1500_.jpg"
                  alt="portada del libro">
                <div class="botones">
                  <button><a routerLink="/contacto">LO NECESITO</a></button>
                </div>
              </section>
              <section class="data">
                <h4>LA GRIETA DEL SILENCIO</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus rerum consectetur, illum vero aliquam dolor? Quae, eum sequi. Odit quisquam aperiam ipsa magni quam quasi id, fugit eos vel asperiores.</p>
                <!-- Acordeón implementado -->
                <div class="accordion" id="accordionExample3">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFichaTecnica3">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFichaTecnica3" aria-expanded="false"
                        aria-controls="collapseFichaTecnica3">
                        Ficha técnica
                      </button>
                    </h2>
                    <div id="collapseFichaTecnica3" class="accordion-collapse collapse"
                      aria-labelledby="headingFichaTecnica3" data-bs-parent="#accordionExample3">
                      <div class="accordion-body">
                        <ul>
                          <li>Páginas: 324</li>
                          <li>Año: 2024</li>
                          <li>Editorial: SUMA</li>
                          <li>Traducción: ""</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingResenaEditorial3">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseResenaEditorial3" aria-expanded="false"
                        aria-controls="collapseResenaEditorial3">
                        Reseña de la editorial
                      </button>
                    </h2>
                    <div id="collapseResenaEditorial3" class="accordion-collapse collapse"
                      aria-labelledby="headingResenaEditorial3" data-bs-parent="#accordionExample3">
                      <div class="accordion-body">
                        <p>La grieta del silencio es el nuevo thriller de Javier Castillo que te atrapará de principio a fin. Una historia en la que Miren se verá envuelta en la investigación de la desaparición del pequeño Daniel Miller hace treinta años y el hallazgo actual de un cadáver con los labios sellados.

                          Junto a su antiguo profesor de periodismo, Jim Schmoer, tendrá que sortear multitud de obstáculos y enigmas hasta lograr descubrir qué conecta ambos casos.</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTeGustara3">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTeGustara3" aria-expanded="false" aria-controls="collapseTeGustara3">
                        Te gustará si también leíste
                      </button>
                    </h2>
                    <div id="collapseTeGustara3" class="accordion-collapse collapse" aria-labelledby="headingTeGustara3"
                      data-bs-parent="#accordionExample3">
                      <div class="accordion-body">
                        <ul>
                          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex doloribus nam commodi!</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingLibroPerfecto3">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseLibroPerfecto3" aria-expanded="false"
                        aria-controls="collapseLibroPerfecto3">
                        Un libro perfecto para
                      </button>
                    </h2>
                    <div id="collapseLibroPerfecto3" class="accordion-collapse collapse"
                      aria-labelledby="headingLibroPerfecto3" data-bs-parent="#accordionExample3">
                      <div class="accordion-body">
                        <ul>
                          <li>Lorem ipsum dolor sit amet</li>
                          <li>Recusandae dignissimos tempora animi voluptatem adipisci</li>
                          <li>impedit magnam dicta facilis deleniti deserunt natus.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

          </div>
        </div>


      </div>

      <!-- Controles del Carrusel -->
      <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
