<div class="contain">

  <section class="libreria-cabecera" id="cabecera">
    <div class="textos">
      <h1>Cofres literarios para vivir al ritmo de las estaciones</h1>

      <p>Déjame hacerte una pregunta sencilla, ¿cuánto hace que no te sientas tranquilamente a leer
        un buen libro, sin pensar en nada más? ¿Cuánto hace que no te regalas un momento para ti,
        para hacer aquello con lo que disfrutas de verdad?</p>

      <p>Seamos sinceros. Las obligaciones y las tareas del día a día se acumulan en una lista
        interminable que nos alejan de cualquier hueco libre que podamos tener. Y en el hipotético
        caso de que paremos un momento y hagamos algo que no sea productivo, la culpa se abalanza
        sobre nosotros para recordarnos el tiempo que estamos “malgastando”.</p> <br>

      <p>Lo cierto es que nadie nos ha enseñado a disfrutar del momento presente, a mirar con otros
        ojos todo lo que nos rodea, y aprovechar nuestro tiempo para las cosas que nos hacen felices
        de verdad. De hecho, puede que ni siquiera sepamos qué es lo que más nos gusta hacer.
        Después de todo, pasamos la mayor parte del día en el trabajo y luego quedan las tareas de
        casa, ir al supermercado, hacer recados… lo último de la lista siempre eres tú.</p> <br>

      <p>Por desgracia, si no decidimos a qué dedicar nuestro tiempo, alguien lo hará por nosotros.
        Sabemos que, en demasiadas ocasiones, la rutina del día a día hace muy difícil sacar un hueco
        para ti.</p>

      <p>Pero, a pesar de lo contradictorio que pueda parecer, los estudios científicos lo han
        confirmado; mantener la mente con sucesivas tareas y aprendizajes es contraproducente.
        Necesitamos momentos de relajación para desarrollar nuestra creatividad. Es decir,
        necesitamos de la pausa, del reposo, para avanzar y ser más efectivos.</p>
    </div>
    <div class="fotografia">
      <img src="assets/img/coffee.jpg" alt="cafe">
    </div>


  </section>


  <section class="section section-2" id="section2">
    <div class="fotografia-section-2">
      <div class="cita-content">
        <q class="cita">A menudo no hacer nada conduce al mejor de los algos</q>
        <p class="cita-p">La frase no es nuestra. Es de uno de los mayores pensadores del siglo XX, Winnie de Pooh. Y no
          podemos estar más de acuerdo.</p>
      </div>
      <img src="assets/img/capsula1.jpg" alt="winnie the pooh">
    </div>

    <div class="textos-section-2">

      <p>Hoy más que nunca es necesario reivindicar esos pequeños momentos que nos hacen levantar
        la cabeza, parar la rueda del hámster y dedicarnos tiempo de calidad. Porque en esos
        momentos es cuando somos más nosotros mismos, cuando las obligaciones y
        responsabilidades desaparecen y aflora nuestra verdadera personalidad. Ahora bien, ¿cómo lo
        hacemos?</p>

      <p class="p-white">No te agobies, tenemos la solución. Hemos diseñado cápsulas literarias donde concentrar un
        poquito de cada estación con el objetivo de generar un compromiso contigo mismo y aprender
        a mirar más bonito. Un momento para dedicarte tiempo de calidad, bajar las revoluciones y
        estar más calmado.</p>

      <p>En ellas encontrarás, como no podía ser de otra manera, un libro, una historia que
        recomendamos por estar bien escrita, por las emociones que transmite, los personajes o la
        temática; una vela porque el olfato está conectado con la memoria, es el sentido más primario
        y nos transporta de forma inmediata a lugares lejanos que creímos olvidados; una postal relacionada con la
        temática
        del momento que luego podrás aprovechar para retomar esa
        bonita afición que era enviar una carta por correo; un detalle comestible para acompañar ese
        momento slow, ya sea una chocolatina o un paquetito de té; algún elemento de papelería y
        alguna sorpresa más. Estas cajas son el perfecto auto regalo para quien quiere bajar el ritmo,
        tomarse las cosas con más calma, disfrutar del momento presente y desconectar de las 800
        tareas pendientes.</p>

      <div class="botones">
        <button class="button"><a href="/contacto#section2">QUIERO MI CÁPSULA LITERARIA</a></button>
      </div>
    </div>


  </section>



  <section class="section section-3" id="section3">


    <h5>¿Qué vas a conseguir?</h5>

    <div class="left">
      <ul>
        <li>Sacar tiempo de calidad para ti</li>
        <li>Disfrutar en cada estación de algo que realmente te encanta hacer</li>
        <li>Aprender a bajar el ritmo e ir más lento</li>
        <li>Desarrollar los cinco sentidos acorde a los ritmos de la naturaleza</li>
        <li>Conocer nuevos autores, nuevos sabores y olores.</li>

      </ul>
    </div>

    <div class="forma-fondo"></div>
  </section>
  <!-- ((Destacados con testimonios de clientes que ya los han probado))
        ((garantía)) -->
  <section class="section section-4" id="section4">

    <div class="textos4">
      <div class="parrafo1-4">
        <h2>¿Por qué?</h2>
        <p>Nosotras también hemos estado en esa situación. Hemos tenido la sensación de que el día no
          tenía suficientes horas y de que el tiempo se nos escapaba como arena entre los dedos.
          Esperábamos que llegara el fin de semana para dedicarlo a lo que realmente nos gusta pero
          entonces era el momento de hacer coladas, preparar las comidas de la semana… en definitiva,
          nunca teníamos demasiado tiempo para lo realmente importante. Hasta que decidimos
          plantarnos y reivindicar nuestros momentos. <br> Al principio costaba sacar esos huequecitos en el
          día a día y era fácil pensar en dejarlo para otro momento así que tuvimos que agendarlo como
          una tarea más, solo para asegurarnos así de que íbamos a cumplirla. Lo que empezó como una
          extraescolar obligatoria poco a poco se convirtió en aquello que esperábamos el resto del día.
          Y empezamos a mirar la vida con otros ojos. A mirar bonito.</p>
      </div>
    </div>

    <div class="fotografia3">
      <img src="assets/img/tiempo.jpg" alt="reloj">
    </div>
  </section>


  <section class="section section-5" id="section5">
    <div class="textos5">
      <p>Este es el momento perfecto para auto regalarte una cápsula estacional donde encontrar un
        homenaje a los cinco sentidos y aprender a vivir más lento. Haz algo realmente extraordinario
        y reivindica tener tiempo para ti, para hacer aquello que te hace realmente feliz.
      </p>

      <div class="botones">
        <button class="button"><a href="/contacto#section2">QUIERO SUSCRIBIRME A LAS CÁPSULAS
            LITERARIAS</a></button>
      </div>

      <p>Si no estás satisfecho con el contenido de la caja al 100%, no te preocupes, puedes devolverla
        en su estado original en un plazo de quince días. Lo único que te pedimos es que la pruebes.
        Tienes mucho que ganar y muy poco que perder. <br> Del mismo modo, si te has suscrito para que
        te las enviemos automáticamente con el cambio de estación y ya no quieres que lo hagamos
        más, puedes cancelar tu suscripción en cualquier momento. No haremos preguntas.
      </p>


    </div>

    <div class="imagenes">
      <!-- <div class="fotografia4">
        <img src="assets/img/libros.jpg" alt="libros">
      </div> -->
      <div class="fotografia5">
        <img src="assets/img/pexels-lilartsy-3150549.jpg" alt="hojas">
      </div>
    </div>
  </section>

  <!-- fichas de productos backend -->
  <section class="section section-6" id="section6">
    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
      <!-- Contenedor principal del carrusel -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let book of books; let i = index" [class.active]="i === 0">
      <div class="product">
        <div class="product-content">
          <section class="producto">
            <img class="portada" [src]="book.image" alt="portada del libro">

          </section>
          <section class="data">
            <h4>{{ book.name }}</h4>
            <p [innerHTML]="book.description" [ngClass]="{ 'expanded': expandedDescription[i] }">
              {{ book.description }}
            </p>
            <button class="ver" (click)="toggleDescription(i)">
              {{ expandedDescription[i] ? 'Ver menos' : 'Leer más...' }}
            </button>

            <div class="botones" style="position: relative;">
              <button id="buy" (click)="addToCart(book); showTooltip($event)">
                <div class="default-btn">
                  <svg
                    viewBox="0 0 24 24"
                    width="20"
                    height="20"
                    stroke="#FF0000"
                    stroke-width="2"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                    ></path>
                  </svg>
                  <span>Lo necesito</span>
                </div>
                <div class="hover-btn">
                  <svg
                    viewBox="0 0 24 24"
                    width="20"
                    height="20"
                    stroke="#ffd300"
                    stroke-width="2"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                  </svg>
                  <span>Añadir</span>
                </div>
              </button>
              <!-- Tooltip -->
              <div class="tooltip" [ngClass]="{ active: tooltipActive }">
                <img class="carrito-lleno" src="assets/img/carrito-lleno.png" alt="carrito">+1
              </div>
            </div>




            <div class="accordion" [id]="'accordionExample' + i">
              <!-- Ficha técnica -->
              <div class="accordion-item">
                <h2 class="accordion-header" [id]="'headingFichaTecnica' + i">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseFichaTecnica' + i" aria-expanded="false" [attr.aria-controls]="'collapseFichaTecnica' + i">
                    Ficha técnica
                  </button>
                </h2>
                <div [id]="'collapseFichaTecnica' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'headingFichaTecnica' + i" [attr.data-bs-parent]="'#accordionExample' + i">
                  <div class="accordion-body">
                    <ul>
                      <li>Páginas: {{book.pages}}</li>
                      <li>Año: {{book.year}}</li>
                      <li>Editorial: {{book.publisher}}</li>
                      <li>Traducción: {{book.translation ? 'Sí' : 'No'}}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Reseña editorial -->
              <div class="accordion-item">
                <h2 class="accordion-header" [id]="'headingResenaEditorial' + i">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseResenaEditorial' + i" aria-expanded="false" [attr.aria-controls]="'collapseResenaEditorial' + i">
                    Reseña de la editorial
                  </button>
                </h2>
                <div [id]="'collapseResenaEditorial' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'headingResenaEditorial' + i" [attr.data-bs-parent]="'#accordionExample' + i">
                  <div class="accordion-body">
                    <p>{{book.review}}</p>
                  </div>
                </div>
              </div>

              <!-- Te gustará si también leíste -->
              <div class="accordion-item">
                <h2 class="accordion-header" [id]="'headingTeGustara' + i">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseTeGustara' + i" aria-expanded="false" [attr.aria-controls]="'collapseTeGustara' + i">
                    Te gustará si también leíste
                  </button>
                </h2>
                <div [id]="'collapseTeGustara' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'headingTeGustara' + i" [attr.data-bs-parent]="'#accordionExample' + i">
                  <div class="accordion-body">
                    <ul>
                      <li *ngFor="let suggestion of book.suggestions">{{suggestion}}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Un libro perfecto para -->
              <div class="accordion-item">
                <h2 class="accordion-header" [id]="'headingLibroPerfecto' + i">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseLibroPerfecto' + i" aria-expanded="false" [attr.aria-controls]="'collapseLibroPerfecto' + i">
                    Un libro perfecto para
                  </button>
                </h2>
                <div [id]="'collapseLibroPerfecto' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'headingLibroPerfecto' + i" [attr.data-bs-parent]="'#accordionExample' + i">
                  <div class="accordion-body">
                    <ul>
                      <li *ngFor="let reason of book.perfectFor">{{reason}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>



      </div>

      <!-- Controles del Carrusel -->
      <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
