
.libreria-cabecera {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Para evitar el desbordamiento durante la animación */
}

.libreria-cabecera h1 {
  font-family: "Forum", serif;
  text-transform: uppercase;
  width: 120%;
  font-size: 30px;
  height: auto;
  text-align: left;
  padding: 20px;
  margin-top: 40px;
  color: var(--color-texto-white);
  line-height: 1;
  background-color: var(--color-secundario-transparente);
  z-index: 10;
  opacity: 0; /* Comienza oculto */
  transform: translateX(-100%); /* Desplazado a la izquierda */
  animation: slideInLeft 2s forwards; /* Aplicar animación */
  animation-delay: 0.5s; /* Retrasar la animación */
}

@keyframes slideInLeft {
  to {
    opacity: 1; /* Hacerlo visible */
    transform: translateX(0); /* Mover a su posición original */
  }
}

.textos {
  color: var(--color-texto);
  width: 70%;
  height: auto;
  margin-top: 25px;
  font-size: 15px;
  opacity: 0; /* Comienza oculto */
  transform: translateX(-100%); /* Desplazado a la izquierda */
  animation: slideInLeft 2s forwards; /* Aplicar animación */
  animation-delay: 0.5s; /* Retrasar la animación */
}

.textos p {
  margin: 0 auto;
  text-align: justify;
  line-height: 1.8;
  width: 70%;
}

.fotografia {
  width: 50%;
  height: auto;
  z-index: -1;
  opacity: 0; /* Comienza oculto */
  transform: translateX(100%); /* Desplazado a la derecha */
  animation: slideInRight 2s forwards; /* Aplicar animación */
  animation-delay: 0.5s; /* Retrasar la animación */
}

@keyframes slideInRight {
  to {
    opacity: 1; /* Hacerlo visible */
    transform: translateX(0); /* Mover a su posición original */
  }
}

.fotografia img {
  width: 100%;
  transform: translateY(6%);
  height: auto;
  margin: 0 auto;
  z-index: -1;
  border-top-left-radius: 0;
  border-top-right-radius: 20%;
}

/* seccion 2 */
.section-2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  height: auto;
}

.textos-section-2 {
  color: var(--color-texto);
  width: 60%;
  height: auto;
  margin-top: 60px;
  font-size: 15px;
  display: block;
  text-align: center;
}

.textos-section-2 p {
  margin: 0 auto;
  text-align: justify;
  line-height: 1.8;
  width: 70%;
}

.textos-section-2 .p-white {
  font-weight: 500;
  background-color: var(--color-secundario-transparente);
  color: var(--color-texto-white);
  padding: 25px 130px;
  width: 100%;
  margin-left: -6px;
  z-index: 10;
}

.botones {
  margin-top: 30px;
}


.cita-content {
  width: 100%;
}

.section-2 .cita {
  font-family: "Forum", serif;
  margin-top: 74px;
  margin-left: 70px;
  font-size: 20px;
  color: var(--color-titulo);
  z-index: 100;
}

.fotografia-section-2 {
  width: 50%;
  z-index: -1;
}

.fotografia-section-2 img {
  width: 100%;
  height: auto;
  margin-left: 80px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: -1;
}

.fotografia-section-2 .cita-p {
  position: relative;
  margin-left: 50px;
  text-align: center;
  width: 100%;
  color: var(--color-texto);
  z-index: 100;
}

/* seccion3 */
.section-3 {
  background: url("/assets/img/pexels.jpg") no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 100vh;
}

.section-3 h5 {
  font-family: "Forum", serif;
  color: var(--color-texto-white);
  font-size: 3vw;
  background-color: #8f7b61bb;
  height: 75vh;
  margin: 0 auto;
  width: 40%;
  padding-top: 70px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  line-height: 4;
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
}

.left {
  width: 40%;
  margin: 0 auto;
  position: absolute;
  left: 30vw;
  top: 27vh;
  text-align: left;
  line-height: 3;
}

.left ul {
  list-style: outside;
  color: var(--color-texto-white);
  font-size: 15px;
  font-weight: 700;
}

/* seccion4 */
.section-4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.textos4 {
  width: 50%;
  height: auto;
  font-size: 15px;
  line-height: 2;
}

.textos4 p {
  margin: 0 auto;
  text-align: justify;
  width: 70%;
}

.parrafo1-4 h2 {
  margin: 0 auto;
  background-color: var(--color-secundario-transparente);
  width: 125%;
  height: auto;
  z-index: 10;
}

.parrafo1-4 p {
  margin-top: 60px;
  color: var(--color-texto);
}

.textos4 h2 {
  margin: 0 auto;
  margin-top: -70px;
  margin-left: -70px;
  text-align: center;
  color: var(--color-texto-white);
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 4vw;
  line-height: 3;
}

.fotografia3 {
  width: 50%;
  height: 90vh;
  z-index: -1;
}

.fotografia3 img {
  width: 100%;
  height: 100vh;
  border-top-left-radius: 0;
  border-top-right-radius: 20%;
}

/* seccion5 */
.section-5 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.textos5 {
  margin-top: 60px;
  width: 60%;
  height: auto;
  color: var(--color-texto);
}

.textos5 p {
  font-size: 1.1vw;
  line-height: 1.5;
  text-align: left;
  margin-top: 30px;
  margin-left: 100px;
  width: 70%;
}

.imagenes {
  width: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.fotografia5 img {
  width: 100%;
  height: 100vh;
}

.section-5 button {
  margin-left: 100px;
}

#buy{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: normal;
  padding: 5px 10px;
  gap: 10px;
  background-color: var( --boton-background-color);
  outline: 2px var(--color-secundario) solid;

  outline-offset: 1px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  flex-wrap: wrap;
  align-content: center;
}

#buy .text {
  text-transform: uppercase;
  color: var(--color-texto-white);
  font-weight: lighter;
  font-size: 1em;
  transition: 400ms;
}

#buy svg path {
  transition: 400ms;
  color: var(--color-texto);
}

#buy:hover {
  background-color: var(--color-texto-white);
}

#buy:hover .text {
  color: #181717;
}

#buy:hover svg path {
  fill: #181717;
}



/* sección general del carrusel */
.section-6 {
  background: url("/assets/img/fondo-libro.jpg") no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 70px;
  width: 100%;
  height: 100vh;
}

.product {
  margin-top: 80px;
  display: block;
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-content {
  display: flex;
  align-items: flex-start;
}

.producto {
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
  width: 50%;
  height: 100vh;
}

.data h4 {
  margin-top: 50px;
  color: var(--color-principal);
}

.data {
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  height: 100vh;
}

.data p {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  color: var(--color-principal);
}

.portada {
  width: 50%;
  height: auto;
  filter: drop-shadow(10px 10px 7px rgba(30, 30, 30, 0.965));
}

.accordion {
  margin: 0 auto;
  margin-top: 100px;
  width: 70%;
  text-align: left;
}

.accordion-button {

  color: var(--color-texto);
  font-weight: lighter;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
  outline: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-secundario);
  color: #ffffff;
}

.accordion-button:hover {
  background-color: var( --boton-background-color);
  color: #ffffff;
}

.accordion-body {
  background-color: var(--color-fondo-cabecera);
  color: #333;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.accordion-collapse {
  border-radius: 5px;
}

.accordion-item {
  margin-bottom: 5px;
}

/* Controles del Carrusel */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-titulo);
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  padding: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background: none;
  color: #000;
}

.accordion-item button::before,
.carousel button::before {
  background: transparent;
}



/* Laptops Pequeñas */
@media (min-width: 769px) and (max-width: 1024px) {
  .libreria-cabecera,
  .section-2,
  .section-4,
  .section-5 {
    flex-direction: row;
    align-items: center;
    height: auto;
  }

  .libreria-cabecera h1,
  .textos-section-2 .p-white,
  .parrafo1-4 h2,
  .textos4 h2 {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
    text-align: center;
  }

  .fotografia,
  .fotografia-section-2,
  .fotografia3,
  .imagenes {
    width: 50%;
    height: auto;
  }

  .textos,
  .textos-section-2,
  .textos4,
  .textos5 {
    width: 90%;
    font-size: 18px;
  }


  .section-3 h5 {

    width: 75%;
  }

  .left{
    width: 100%;
    position: relative;
    left: 150px;
    top: -394px;
    text-align: left;
}

  .left ul {
    font-size: 15px;
  }

  .data,
  .producto {
    width: 80%;
    height: auto;
  }


  .data p {
    width: 100%;
  }
}



/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .libreria-cabecera,
  .section-2,
  .section-4,
  .section-5 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto;
  }


  .parrafo1-4 h2,
  .textos4 h2 {
    font-family: "Forum", serif;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 50px;
    font-size: 20px;
  }

  .libreria-cabecera h1 {
    width: 100%;
    font-family: "Forum", serif;
    text-align: center;
    background-color: transparent;
    color: var(--color-titulo);
    margin-top: 20px;
    font-size: 25px;
}

  .textos p,.textos-section-2 p {
    width: 90%;
    font-size: 12px;
  }

  .textos5  p {
    width: 90%;
    margin-left: 15px;
    font-size: 14px;
    text-align: justify;
}

  .parrafo1-4 p{
    width: 100%;
    font-size: 13px;
    margin-left: 30px;
    padding-right: 60px;
    padding-bottom: 270px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.871),
        rgba(255, 254, 254, 0));
}



.parrafo1-4  h2 {
  width: 120%;
  text-align: center;
  margin-left: -45px;
  margin-top: -100px;
  font-size: 20px;
}
  .fotografia,
  .fotografia-section-2,
  .fotografia3,
  .imagenes {
    width: 100%;
    height:auto;
  }

  .fotografia3 img {
    width: 100%;
    height: 60vh;
    z-index: -1;
    margin-top: -415px;
    border-top-left-radius: 0;
    border-top-right-radius: 0%;
    mask-image: linear-gradient(to top,rgb(255, 255, 255) 40%, transparent);
}

  .fotografia img{
  display: none;
  }

  .fotografia-section-2  img {
    width: 90%;
    height: 400px;
    margin-left: 22px;

}

.fotografia5 img{
  width: 100%;
  height: 70vh;
  margin-top: -200px;
  mask-image: linear-gradient(
      to top,
      rgb(255, 255, 255) 40%,
      transparent);
}

.section-2 .p-white{
  text-align: justify;
  width: 140%;
  margin-left: -123px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 34px;
  color:var(--color-texto-white);
  font-size: 14px;
}
.section-2  .cita{
  font-family: "Forum", serif;
  margin-top: -15px;
  width: 70%;
  margin-left: 65px;
  padding: 20px;
  font-size: 25px;
  color: var(--color-principal);
}

.section-2 .cita-p {
  width:70%;
  margin: 0 auto;
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 15px;
}

  .textos,
  .textos-section-2,
  .textos4,
  .textos5 {
    width: 90%;
    font-size: 14px;

  }

  .section-3  h5 {
    font-size: 25px;
    padding-top: 5px;
    width: 100%;
    height: 55vh;
}
  .left {
    width: 100%;
    position: relative;
    left: -40px;
    top: -358px;
    margin: 0px 0;
    text-align:center;
  }

  .left ul {
    font-family: "Forum", serif;
    font-size: 12px;
    list-style: none;
  }



  .product{
    height:auto;
  }
  .product-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}



.textos5{
  position: relative;
  top: -99px;
}



.section-6{
  background: none;
  width: 100%;
  height:auto;
}

.portada {
  width: 30%;
  height: auto;
  filter: drop-shadow(10px 10px 7px rgba(30, 30, 30, 0.965));
}


  .data,
  .producto {
    width: 90%;
    height: auto;
  }

  .data p {
    width: 100%;
  }

  .accordion {
    width: 100%;
}

.accordion-item ul{
  font-size: 11px;
  text-align: left;
  margin-left: 0px;
}
}


/* Móviles (max-width: 480px) */
@media (max-width: 480px) {
  .libreria-cabecera,
  .section-2,
  .section-4,
  .section-5 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto;
  }


  .parrafo1-4 h2,
  .textos4 h2 {
    font-family: "Forum", serif;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 50px;
    font-size: 20px;
  }

  .libreria-cabecera h1 {
    width: 100%;
    font-family: "Forum", serif;
    text-align: center;
    background-color: transparent;
    color: var(--color-titulo);
    margin-top: 20px;
    font-size: 25px;
}

  .textos p,.textos-section-2 p {
    width: 90%;
    font-size: 12px;
  }

  .textos5  p {
    width: 90%;
    margin-left: 15px;
    font-size: 14px;
    text-align: justify;
}



  .parrafo1-4 p{
    width: 100%;
    font-size: 13px;
    margin-left: 30px;
    padding-right: 60px;
    padding-bottom: 300px;
    color: var(--color-titulo);
}

.parrafo1-4  h2 {
  width: 120%;
  text-align: center;
  margin-left: -45px;
  margin-top: -100px;
  font-size: 20px;
}


.textos5  p {
 color: var(--color-titulo);
}

  .fotografia,
  .fotografia-section-2,
  .fotografia3,
  .imagenes {
    width: 100%;
    height:auto;
  }

  .fotografia3 img {
    width: 100%;
    height: 60vh;
    z-index: -1;
    margin-top: -415px;
    border-top-left-radius: 0;
    border-top-right-radius: 0%;
    mask-image: linear-gradient(to top,rgb(255, 255, 255) 40%, transparent);
}

  .fotografia img{
  display: none;
  }

  .fotografia-section-2  img {
    width: 90%;
    height: 400px;
    margin-left: 22px;

}

.fotografia5 img{
  width: 100%;
  height: 70vh;
  margin-top: -200px;
  mask-image: linear-gradient(
      to top,
      rgb(255, 255, 255) 40%,
      transparent);
}

.section-2 .p-white{
  text-align: justify;
  width: 140%;
  margin-left: -123px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 34px;
  color: var(--color-texto-white);
  font-size: 14px;
}
.section-2  .cita{
  font-family: "Forum", serif;
  margin-top: -15px;
  width: 70%;
  margin-left: 59px;
  padding: 20px;
  font-size: 25px;
  color: var(--color-principal);
}

.section-2 .cita-p {
  width:70%;
  margin: 0 auto;
  text-align: justify;

  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 15px;
}

  .textos,
  .textos-section-2,
  .textos4,
  .textos5 {
    width: 90%;
    font-size: 14px;

  }

  .section-3  h5 {
    font-size: 25px;
    padding-top: 5px;
    width: 100%;
    height: 55vh;
    background-color: #8f7b61bb;
}
  .left {
    width: 100%;
    position: relative;
    left: -40px;
    top: -358px;
    margin: 0px 0;
    text-align:center;
  }

  .left ul {
    font-family: "Forum", serif;
    font-size: 12px;
    list-style: none;
  }



  .product{
    height:auto;
  }
  .product-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}



.textos5{
  position: relative;
  top: -99px;
}

.section-5 .button {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 85px;

}

.section-6{
  background: none;
  width: 100%;
  height:auto;
}

.portada {
  width: 30%;
  height: auto;
  filter: drop-shadow(10px 10px 7px rgba(30, 30, 30, 0.965));
}


  .data,
  .producto {
    width: 90%;
    height: auto;
  }

  .data p {
    width: 100%;
  }

  .accordion {
    width: 100%;
}

.accordion-item ul{
  font-size: 11px;
  text-align: left;
  margin-left: 0px;
}
}

