
<div class="contain">

  <div class="seccion">
    <h1>Cofres literarios para vivir al ritmo de las estaciones</h1>

    <p>Déjame hacerte una pregunta sencilla, ¿cuánto hace que no te sientas tranquilamente a leer
      un buen libro, sin pensar en nada más? ¿Cuánto hace que no te regalas un momento para ti,
      para hacer aquello con lo que disfrutas de verdad?</p><br>

    <p>Seamos sinceros. Las obligaciones y las tareas del día a día se acumulan en una lista
      interminable que nos alejan de cualquier hueco libre que podamos tener. Y en el hipotético
      caso de que paremos un momento y hagamos algo que no sea productivo, la culpa se abalanza
      sobre nosotros para recordarnos el tiempo que estamos “malgastando”.</p><br>

    <p>Lo cierto es que nadie nos ha enseñado a disfrutar del momento presente, a mirar con otros
      ojos todo lo que nos rodea, y aprovechar nuestro tiempo para las cosas que nos hacen felices
      de verdad. De hecho, puede que ni siquiera sepamos qué es lo que más nos gusta hacer.
      Después de todo, pasamos la mayor parte del día en el trabajo y luego quedan las tareas de
      casa, ir al supermercado, hacer recados… lo último de la lista siempre eres tú.</p><br>

    <p>Por desgracia, si no decidimos a qué dedicar nuestro tiempo, alguien lo hará por nosotros.
      Sabemos que, en demasiadas ocasiones, la rutina del día a día hace muy difícil sacar un hueco
      para ti.</p><br>

    <p>Pero, a pesar de lo contradictorio que pueda parecer, los estudios científicos lo han
      confirmado; mantener la mente con sucesivas tareas y aprendizajes es contraproducente.
      Necesitamos momentos de relajación para desarrollar nuestra creatividad. Es decir,
      necesitamos de la pausa, del reposo, para avanzar y ser más efectivos.</p><br>

    <p>"“A menudo no hacer nada conduce al mejor de los algos”"</p><br>

    <p>La frase no es nuestra. Es de uno de los mayores pensadores del siglo XX, Winnie de Pooh. Y no
      podemos estar más de acuerdo.</p><br>

    <p>Hoy más que nunca es necesario reivindicar esos pequeños momentos que nos hacen levantar
      la cabeza, parar la rueda del hámster y dedicarnos tiempo de calidad. Porque en esos
      momentos es cuando somos más nosotros mismos, cuando las obligaciones y
      responsabilidades desaparecen y aflora nuestra verdadera personalidad. Ahora bien, ¿cómo lo
      hacemos?</p><br>

    <p>No te agobies, tenemos la solución. Hemos diseñado cápsulas literarias donde concentrar un
      poquito de cada estación con el objetivo de generar un compromiso contigo mismo y aprender
      a mirar más bonito. Un momento para dedicarte tiempo de calidad, bajar las revoluciones y
      estar más calmado.</p><br>

    <p>En ellas encontrarás, como no podía ser de otra manera, un libro, una historia que
      recomendamos por estar bien escrita, por las emociones que transmite, los personajes o la
      temática; una vela porque el olfato está conectado con la memoria, es el sentido más primario
      y nos transporta de forma inmediata a lugares lejanos que creímos olvidados; una postal relacionada con la
      temática
      del momento que luego podrás aprovechar para retomar esa
      bonita afición que era enviar una carta por correo; un detalle comestible para acompañar ese
      momento slow, ya sea una chocolatina o un paquetito de té; algún elemento de papelería y
      alguna sorpresa más. Estas cajas son el perfecto auto regalo para quien quiere bajar el ritmo,
      tomarse las cosas con más calma, disfrutar del momento presente y desconectar de las 800
      tareas pendientes.</p> <br>

    <button><a routerLink="/club-de-lectura">QUIERO MI CÁPSULA LITERARIA</a></button><br>

    <h5>¿Qué vas a conseguir?</h5>
    <ul>
      <li>Sacar tiempo de calidad para ti</li>
      <li>Disfrutar en cada estación de algo que realmente te encanta hacer</li>
      <li>Aprender a bajar el ritmo e ir más lento</li>
      <li>Desarrollar los cinco sentidos acorde a los ritmos de la naturaleza</li>
      <li>Conocer nuevos autores, nuevos sabores y olores.</li>

    </ul>

    <h5>¿Por qué?</h5>
    <p>Nosotras también hemos estado en esa situación. Hemos tenido la sensación de que el día no
      tenía suficientes horas y de que el tiempo se nos escapaba como arena entre los dedos.
      Esperábamos que llegara el fin de semana para dedicarlo a lo que realmente nos gusta pero
      entonces era el momento de hacer coladas, preparar las comidas de la semana… en definitiva,
      nunca teníamos demasiado tiempo para lo realmente importante. Hasta que decidimos
      plantarnos y reivindicar nuestros momentos. Al principio costaba sacar esos huequecitos en el
      día a día y era fácil pensar en dejarlo para otro momento así que tuvimos que agendarlo como
      una tarea más, solo para asegurarnos así de que íbamos a cumplirla. Lo que empezó como una
      extraescolar obligatoria poco a poco se convirtió en aquello que esperábamos el resto del día.
      Y empezamos a mirar la vida con otros ojos. A mirar bonito.</p><br>

    <!-- ((Destacados con testimonios de clientes que ya los han probado))
((garantía)) -->

    <p>Si no estás satisfecho con el contenido de la caja al 100%, no te preocupes, puedes devolverla
      en su estado original en un plazo de quince días. Lo único que te pedimos es que la pruebes.
      Tienes mucho que ganar y muy poco que perder. Del mismo modo, si te has suscrito para que
      te las enviemos automáticamente con el cambio de estación y ya no quieres que lo hagamos
      más, puedes cancelar tu suscripción en cualquier momento. No haremos preguntas.</p> <br>

    <button><a routerLink="/club-de-lectura">QUIERO SUSCRIBIRME A LAS CÁPSULAS LITERARIAS</a></button>

    <p>Este es el momento perfecto para auto regalarte una cápsula estacional donde encontrar un
      homenaje a los cinco sentidos y aprender a vivir más lento. Haz algo realmente extraordinario
      y reivindica tener tiempo para ti, para hacer aquello que te hace realmente feliz.</p><br>

  </div>

  <!-- fichas de productos backend -->

  <div class="product">
    <h3>LA SOCIEDAD SECRETA DE BRUJAS REBELDES</h3>
    <section class="producto"><img class="portada"
        src="https://tse1.mm.bing.net/th?id=OIP.4GMHxrZTTLO0x23gzAGM_wHaLQ&pid=Api&P=0&h=180" alt="portada del libro">
    </section>
    <section class="data">
      <p>Si te has preguntado cómo sería mover las cosas con tu mente
        como Matilda, Prácticamente magia es una de tus películas
        favoritas y te encantan las historias que ocurren en Inglaterra,
        esta es tu novela. Te encantará sumergirte en una historia con
        mucho humor, personajes entrañables de los que, sin duda, te
        vas a enamorar y optimismo ante lo desconocido en una casa
        de cuento rodeada de árboles.</p><br>
      <ul>
        <li>Páginas: 336</li>
        <li>Año: 2023</li>
        <li>Editorial: Esdiciones B</li>
        <li>Traducción: Noemi Risco</li>
      </ul>

      <h5>Reseña de la editorial</h5> <!--a desplegar -->
      <h5>Te gustará si también leíste:</h5>
      <ul>
        <li>La casa en el mar más azul, de T.J. Klune</li>
      </ul>
      <h5>Un libro perfecto para:</h5>
      <ul>
        <li>Desconectar en vacaciones</li>
        <li>Terminar la historia con una sonrisa</li>
        <li>Evadirte de la realidad con un toque fantástico</li>
      </ul>

      <br> <button>LO NECESITO</button>

    </section>
  </div>
</div>
