

.libreria-cabecera {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.libreria-cabecera  h1 {
  width: 120%;
  height: auto;
  text-align: left;
  padding: 20px;
  margin-top: 40px;
  color: white;
  line-height: 1;
  background-color: rgba(130, 116, 89, 0.859);
  z-index: 10;
}

.textos {
  color: rgb(116, 87, 40);
  width: 70%;
  height: auto;
  margin-top: 25px;
  font-size: 15px;
}

.textos p {
  margin: 0 auto;
  text-align: justify;
  line-height: 1.8;
  width: 70%;
}

.fotografia {
  width: 50%;
  height: 100vh;
  z-index: -1;
}

.fotografia img {
  width: 100%;
  transform: translateY(6%);
  height: 100vh;
  margin: 0 auto;
  z-index: -1;
  border-top-left-radius: 0;
  border-top-right-radius: 20%;
}

/* seccion 2 */
.section-2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.textos-section-2 {
  color: rgb(116, 87, 40);
  width: 60%;
  height: auto;
  margin-top: 60px;
  font-size: 15px;
  display: block;
  text-align: center;
}

.textos-section-2 p {
  margin: 0 auto;
  text-align: justify;
  line-height: 1.8;
  width: 70%;
}

.textos-section-2 .p-white {
  font-weight: 500;
  background-color: rgba(130, 116, 89, 0.465);
  padding: 25px 130px;
  width: 100%;
  margin-left: -6px;
  z-index: 10;
}

.botones {
  width: 100%;
  margin-top: 30px;
}

.botones button {
  margin-left: 50px;
  width: 30%;
  background-color: #d1a77f;
  font-family: "Forum", serif;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: white;
  transform: translateY(-2px); /* Efecto de elevaci칩n al pasar el mouse */
}

.button:active {
  transform: translateY(1px); /* Efecto de presionado */
}

.cita-content {
  width: 100%;
}

.section-2 .cita {
  font-family: "Forum", serif;
  margin-top: 74px;
  margin-left: 70px;
  font-size: 20px;
  color: rgb(129, 111, 88);
}

.fotografia-section-2 {
  width: 50%;
  z-index: -1;
}

.fotografia-section-2 img {
  width: 100%;
  height: 560px;
  margin-left: 80px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: -1;
}

.fotografia-section-2 .cita-p {
  margin-left: 50px;
  text-align: center;
  width: 100%;
  color: rgb(129, 111, 88);
}

/* seccion3 */
.section-3 {
  background: url("/assets/img/pexels.jpg") no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.section-3 h5 {
  font-family: "Forum", serif;
  color: white;
  font-size: 3vw;
  background-color: #88735fc7;
  height: 80vh;
  margin: 0 auto;
  width: 40%;
  padding-top: 70px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  line-height: 4;
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
}

.left {
  width: 40%;
  margin: 0 auto;
  position: absolute;
  left: 30vw;
  top: 27vh;
  text-align: left;
  line-height: 3;
}

.left ul {
  list-style: outside;
  color: white;
  font-size: 1vw;
}

/* seccion4 */
.section-4 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.textos4 {
  width: 50%;
  height: auto;
  font-size: 15px;
  line-height: 2;
}

.textos4 p {
  margin: 0 auto;
  text-align: justify;
  width: 70%;
}

.parrafo1-4 h2 {
  margin: 0 auto;
  background-color: rgba(184, 161, 122, 0.878);
  width: 125%;
  height: auto;
  z-index: 10;
}

.parrafo1-4 p {
  margin-top: 60px;
  color: rgb(125, 85, 46);
}

.textos4 h2 {
  margin: 0 auto;
  margin-top: -70px;
  margin-left: -70px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 4vw;
  line-height: 3;
}

.fotografia3 {
  width: 50%;
  height: 90vh;
  z-index: -1;
}

.fotografia3 img {
  width: 100%;
  height: 100vh;
  border-top-left-radius: 0;
  border-top-right-radius: 20%;
}

/* seccion5 */
.section-5 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.textos5 {
  margin-top: 60px;
  width: 60%;
  height: auto;
  color: rgb(125, 85, 46);
}

.textos5 p {
  font-size: 1.1vw;
  line-height: 1.5;
  text-align: left;
  margin-top: 30px;
  margin-left: 100px;
  width: 70%;
}

.imagenes {
  width: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.fotografia5 img {
  width: 100%;
  height: 100vh;
}

.section-5 button {
  margin-left: 100px;
  width: 30%;
  background-color: #d1a77f;
}

/* secci칩n general del carrusel */
.section-6 {
  background: url("/assets/img/fondo-libro.jpg") no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 70px;
  width: 100%;
  height: 100vh;
}

.product {
  margin-top: 80px;
  display: block;
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-content {
  display: flex;
  align-items: flex-start;
}

.producto {
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
  width: 50%;
  height: 100vh;
}

.data h4 {
  margin-top: 50px;
}

.data {
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  height: 100vh;
}

.data p {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
}

.portada {
  width: 50%;
  height: auto;
  filter: drop-shadow(10px 10px 7px rgba(30, 30, 30, 0.965));
}

.accordion {
  margin: 0 auto;
  margin-top: 100px;
  width: 70%;
  text-align: left;
}

.accordion-button {
  background-color: #eadbcbea;
  color: #292929;
  font-weight: lighter;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
  outline: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: #5e5349;
  color: #ffffff;
}

.accordion-button:hover {
  background-color: #5e5349;
  color: #ffffff;
}

.accordion-body {
  background-color: #f7ece4cf;
  color: #333;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.accordion-collapse {
  border-radius: 5px;
}

.accordion-item {
  margin-bottom: 5px;
}

/* Controles del Carrusel */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000 !important;
  background: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  padding: 0 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8 !important;
  transition: opacity 0.3s ease !important;
  background: none !important;
  color: #000 !important;
}

.accordion-item button::before,
.carousel button::before {
  background: none;
}

/* M칩viles (max-width: 480px) */
@media (max-width: 480px) {
  .libreria-cabecera,
  .section-2,
  .section-4,
  .section-5 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .libreria-cabecera h1,

  .parrafo1-4 h2,
  .textos4 h2 {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 50px;
    font-size: 20px;
  }

  .fotografia,
  .fotografia-section-2,
  .fotografia3,
  .imagenes {
    width: 100%;
    height:auto;
  }

  .fotografia img{
  display: none;
  }

  .fotografia-section-2  img {
    width: 90%;
    height: 400px;
    margin-left: 22px;
}

.textos-section-2[_ngcontent-ng-c1215799791][_ngcontent-ng-c1215799791]   .p-white[_ngcontent-ng-c1215799791][_ngcontent-ng-c1215799791] {
  font-weight: 500;
  background-color: rgba(130, 116, 89, 0.465);
  color: white;
  padding: 50px 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120%;
  margin-left: -34px;
}
  .section-2 .cita {
    font-family: "Forum", serif;
    margin-top: 74px;
    margin-left: 0px;
    font-size: 25px;
    color: rgb(129, 111, 88);
}

.section-2 .cita-p {
  width:70%;
  margin: 0 auto;
  text-align: justify;

  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 15px;
}

  .textos,
  .textos-section-2,
  .textos4,
  .textos5 {
    width: 90%;
    font-size: 14px;

  }

  .botones button {
    margin-left: 0;
    width: 80%;
    margin: 10px auto;
  }

  .section-3[_ngcontent-ng-c1215799791]   h5[_ngcontent-ng-c1215799791] {
    font-size: 6vw;
    padding-top: 5px;
    width: 100%;
    height: 60vh;
}
  .left {
    width: 90%;
    position: relative;
    left: 0;
    top: -350px;
    margin: 0px 0;
    text-align:left;
  }

  .left ul {
    font-size: 12px;
  }

  .data,
  .producto {
    width: 90%;
    height: auto;
  }

  .data p {
    width: 100%;
  }
}

/* Tablets (min-width: 481px) y (max-width: 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .libreria-cabecera,
  .section-2,
  .section-4,
  .section-5 {
    flex-direction: column;
    align-items: center;
    height: auto;
  }


  .libreria-cabecera h1, .textos-section-2   .p-white, .parrafo1-4 {
    width: 100%;
    margin-left: 0;
    margin-top: 60px;
}

  .libreria-cabecera h1,
  .textos-section-2 .p-white,
  .parrafo1-4 h2,
  .textos4 h2 {
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }

  .fotografia,
  .fotografia-section-2,
  .fotografia3,
  .imagenes {
    width: 50%;
    height:auto;
  }

  .textos,
  .textos-section-2,
  .textos4,
  .textos5 {
    width: 100%;
  }

  p{
    font-size: 12px;
  }

  .botones button {
    margin-left: 0;
    width: 70%;
    margin: 10px auto;
  }

  .fotografia img{
   display: none;
}

.fotografia-section-2 .cita-p {
  margin-left: 0;
}

.section-2  .cita {
  margin-top: 100px;
  margin-bottom: 50px;
 margin-left: 0px;

}

.fotografia-section-2 img{
  width: 100%;
  height:auto;
  margin-left: 0;

}

 .section-2 .p-white{
  text-align: center;
  width: 100%;
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

  .section-3 h5 {
    font-size: 4vw;
    width: 80%;
  }

  .left{
    width: 71%;
    position: relative;
    left: 79px;
    top: -431px;
    margin: 20px 0;
    text-align: left;
}

  .left ul {
    font-size: 2vw;
  }

  .fotografia3[_ngcontent-ng-c1215799791]   img[_ngcontent-ng-c1215799791] {
    width: 100%;
    height: 50vh;
    border-top-left-radius: 0;
    border-top-right-radius: 20%;
}

  .data,
  .producto {
    width: 85%;
    height: auto;
  }

  .data p {
    width: 100%;
  }
}

/* Laptops Peque침as (min-width: 769px) y (max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .libreria-cabecera,
  .section-2,
  .section-4,
  .section-5 {
    flex-direction: row;
    align-items: center;
    height: auto;
  }

  .libreria-cabecera h1,
  .textos-section-2 .p-white,
  .parrafo1-4 h2,
  .textos4 h2 {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
    text-align: center;
  }

  .fotografia,
  .fotografia-section-2,
  .fotografia3,
  .imagenes {
    width: 50%;
    height: auto;
  }

  .textos,
  .textos-section-2,
  .textos4,
  .textos5 {
    width: 80%;
    font-size: 18px;
  }

   .botones button {
    width: 60%;
  }


  .section-3 h5 {
    font-size: 3.5vw;
    width: 75%;
  }

  .left{
    width: 100%;
    position: relative;
    left: 250px;
    top: -394px;
    margin: px;
    text-align: left;
}

  .left ul {
    font-size: 1.5vw;
  }

  .data,
  .producto {
    width: 80%;
    height: auto;
  }


  .data p {
    width: 100%;
  }
}
