

/* Pie de página */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: var(--color-footer);
  padding-top: 20px;
  padding-bottom: 60px;
}

footer h2 {
  color: var(--color-texto-white);
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 15px;
  text-align: -webkit-center;
}
.logo {
  margin: 0 auto;
  width: 100%;
}

.title1 {
  color: white;
  font-family: "Bodoni Moda SC", serif;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow:
  4px 0px 0 rgba(15, 15, 15, 0.7)

}

.title2 {
  color: white;
  font-family: "Allura", cursive;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow:
    3px 0px 0 rgba(10, 10, 10, 0.7)
}



/* social media */
.card {
  width: fit-content;
  height: fit-content;
  display: -webkit-box;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 30px;
  background-color: transparent;
  border: none;
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  background-color: rgba(65, 64, 64, 0.71);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

.containerThree:hover {
  background-color: #101517;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: var(--color-texto-white);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

a{
  color: rgb(26, 26, 26);
}

a:hover{
  color: rgb(255, 255, 255);
  text-decoration-color: goldenrod;
}

.copy {
  width: 97%;
  margin-top: 20px;
  color: rgba(216, 216, 216, 0.817);
  font-size: 13px;
  font-weight: lighter;
}



.footer-ul {
  list-style: none;
  text-align: center;
  margin-left: -30px;
  margin-top: 20px;
  line-height: 3;
}

.listas {
  display: flex;
  gap: 150px;
  margin-top: 50px;
  margin-left: -66px;
  margin-bottom: 50px;
}


.social-h1{
  font-family: "Forum", serif;
  color: var(--color-texto-white);
  font-weight: lighter;
}

.creditos {
  margin-top: 30px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.606);
}

.creditos a {
  text-decoration: none;
  color: #cab4a1;
}


@media (max-width: 860px) {
  .listas{
    margin-left: 0px;
    gap:5px;
    flex-direction: column;
  }

  .footer-ul{
   font-size: 10px;
}

.socialContainer{
  width: 40px;
  height: 40px;
}

.copy{

  font-size: 10px;

}
}
