<header>
  <input type="checkbox" id="checkbox">
  <label for="checkbox" class="menu-toggle">
    <div class="bars" id="bar1"></div>
    <div class="bars" id="bar2"></div>
    <div class="bars" id="bar3"></div>
  </label>

  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/libreria">Librería</a></li>
      <li><a routerLink="/club-de-lectura">Actividades</a></li>
      <!-- <li><a routerLink="/talleres">Talleres</a></li> -->
      <li><a href="https://margaritasamedianoche.wordpress.com/" target="_blank" rel="noopener noreferrer">Blog</a></li>
      <li><a routerLink="/sobre-nosotras">Sobre Nosotras</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
      <app-carrito></app-carrito>
    </ul>
  </nav>
</header>
