<div class="cart">
  <img class="carrito-logo" src="assets/img/carrito.png" alt="carrito" (click)="toggleCart()">

  <div [ngClass]="{'show': showCart}" class="cart-content">
    <div *ngIf="cart.length === 0">
      <p>Tu carrito está vacío.</p>
      <a href="/libreria#section6" class="start-shopping-link" (click)="closeMenuAndCart()">Empezar a comprar</a>

    </div>

    <ul *ngIf="cart.length > 0">
      <li *ngFor="let item of cart">
        <span class="cart-item-title">{{ item.name }}</span>

        <div class="quantity-controls">
          <button class="quantity-button" (click)="decreaseQuantity(item)">-</button>
          <span>{{ item.quantity }}</span>
          <button class="quantity-button" (click)="increaseQuantity(item)">+</button>
        </div>

        x <span>{{ item.price }} €</span>
        <span class="total-price"> = {{ item.price * item.quantity }} €</span>
        <!-- Aquí calculas el total de este artículo -->

        <button class="delete-button" (click)="removeFromCart(item)">
          <svg class="delete-svgIcon" viewBox="0 0 448 512">
            <path
              d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
            </path>
          </svg>
        </button>
      </li>

    </ul>

    <p *ngIf="cart.length > 0">Total: {{ cartService.total }} €</p>


    <div class="botones" *ngIf="cart.length > 0">
      <button class="Btn" (click)="checkout()">
        Pagar
        <svg class="svgIcon" viewBox="0 0 576 512">
          <path
            d="M512 80c8.8 0 16 7.2 16 16v32H48V96c0-8.8 7.2-16 16-16H512zm16 144V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224H528zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm56 304c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm128 0c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0 24-10.7 24-24s-10.7-24-24-24H248z">
          </path>
        </svg>
      </button>

      <button class="Btn" (click)="continueShopping()">Seguir comprando</button>

    </div>
  </div>
</div>
