.cart {
  position: relative;
  display: inline-block;
}



.carrito-logo {
  width: 25px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

}

.carrito-logo:hover {
  transform: scale(1.1);
}

.cart-content.show  > ul {
  font-size: 12px;
  display: inline-grid;
  margin-left: 0px;
  text-transform: lowercase;
  gap: 6px;
}

.cart-content.show > ul > li {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  flex-direction: row;
}

.cart div {
  position: fixed; /* Cambia de absolute a fixed */
  top: 70px; /* Ajusta para que el carrito se coloque debajo del header */
  right: 10px;
  background-color: var(--color-fondo-cabecera);
  border: 1px solid #ccc;
  color: var(--color-texto);
  padding: 20px 10px 20px 10px;
  border-radius: 5px;
  width: 450px;
  height: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10002; /* Asegúrate de que esté por encima del header */
}

.cart div.show {
  display: block;
}


.cart-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.cart-content.show {
  max-height: 500px;
  opacity: 1;
}

.delete-button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--color-secundario);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 10px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 10px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

p {
  color: var(--color-titulo);
  font-weight:bold ;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* button pagar*/

.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--color-secundario);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px var(--color-fondo-cabecera);
  box-shadow: 2px 2px 8px rgba(114, 114, 114, 0.913);
  font-family: "Forum", serif;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn[_ngcontent-ng-c466530382]::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: #86b16c;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: color;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}


 @media only screen and (max-width: 480px) {

  .cart div{
    top: 60px;
    right: 4px;
    width: 98vw;
    padding: 10px;
    z-index: 10002;
}

.cart-content.show > ul{
  font-size: 12px;
  display: inline-grid;
  margin-left: -20px;
  text-transform: lowercase;
  gap: 6px;
}


.carrito-logo {
  width: 30px;
  cursor: pointer;
}



}


