/* seccion 1 "que podemos hacer por ti" */
.contact-cabecera {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#fachada{
  display: none;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the text */
.contact-cabecera .textos {
  color: rgb(116, 87, 40);
  width: 50%;
  height: auto;
  margin-top: 70px;
  margin-left: 50px;
  font-size: 1vw;
  animation: slideInFromTop 2s ease-out; /* Adjust the duration and easing as needed */
}

.contact-cabecera .textos p {
  margin: 0 auto;
  text-align: justify;
  line-height: 1.6;
  width: 65%;
}

.textos h1 {
  text-align: center;
  width: 100%;
  font-weight: lighter;
  margin-bottom: 20px;
}

.contact-cabecera .fotografia {
  width: 50vw;
  height: 100vh;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply the animation to the image */
.contact-cabecera .fotografia img {
  border-top-left-radius: 40%;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  animation: slideInFromRight 2s ease-out; /* Adjust the duration and easing as needed */
}

.contact-cabecera button {
  margin-left: 17vw;
  margin-bottom: 50px;
  width: 30%;
  background-color: #d1a77f;
  transition: all 0.5s ease-in-out;
}

button:hover {
  color: white;
  box-shadow: 2px 2px 8px gray;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(1px);
}

.quotes {
  font-size: 0.9vw;
}

/* seccion 2 formularios */
.formularios {
  position: relative;
  display: inline-flex;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.formularios .textos p {
  text-align: center;
}

.formularios h5 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 13px;
}

.cajon {
  position: relative;
  background-color: #83755cac;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  font-family: "Forum", serif;
  color: white;
  width: 40vw;
  height: 83vh;
  padding-top: 40px;
  top: -6vh;
  line-height: 2;
  text-align: center;
  font-weight: lighter;
}

.email-link {
  text-transform: lowercase;
  font-weight: 600;
  font-style: oblique;
  color: #bed4ee;
}

.formularios .fotografia img {
  width: 40vw;
  height: 60vh;
  left: 2vw;
  top: -37vh;
  object-fit: cover;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.form-box {
  flex-basis: 66%;
  padding: 0 15px;
}

.subtitle {
  font-size: 17px;
  margin-top: 10px;
}

.contact-form {
  width: 100%;
}

.formulario {
  width: 50vw;
  height: 50vh;
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px;
}

.form__container {
  width: 100%;
  height: 45vh;
  padding: 0px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.form__left {
  flex-basis: 50%;
  margin-right: 15px;
}

.form__group {
  position: relative;
  margin-bottom: 2.5rem;
}

#options {
  margin-top: 50px;
}

.form__input[type="select"],
.form__input {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem 1.2rem;
  outline: none;
  background-color: #fffffff8;
  line-height: 2.1rem;
  z-index: 1;
}

.form__input:focus {
  border: 0.2rem solid #998460;
}

.form__label {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  z-index: -1;
  color: #607b99;
  font-size: 1.3rem;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}

.form__input:focus ~ label,
.form__input:not(:placeholder-shown) ~ label {
  top: -2rem;
  left: 0;
  z-index: 1;
  font-size: 15px;
  color: #6389b1eb;
}

.form__right {
  flex-basis: 50%;
  max-width: 50%;
}

.form__group--textarea {
  width: 100%;
  height: 80%;
}

.form__input--textarea {
  display: block;
  resize: none;
  height: 100%;
}

.formError {
  width: 100%;
  font-size: 13px;
  margin-left: 5px;
  color: #8a242d;
}

.message {
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.688);
  border: 1px solid #ffffff;
  width: 50%;
}

.success {
  width: 100%;
  color: rgb(43, 99, 43);
  font-family: "finger";
  font-size: 15px;
}

.failed {
  width: 100%;
  color: #811f27;
  font-family: "finger";
  font-size: 15px;
}

.form__button {
  width: 40%;
  margin-top: 5px;
  background-color: #d1a77f;
  font-family: "Forum", serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.713);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.form__button:hover {
  color: white;
  box-shadow: 2px 2px 8px gray;
  transform: translateY(-2px);
}

.form__button:active {
  transform: translateY(1px);
}

/*seccion 3 donde estamos */
.section-3 {
  display: flex;
  align-items: flex-start;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 100px;
}

.section-3 .fotografia {
  width: 100%;
  height: 100vh;
}

.section-3 .fotografia img {
  width: 100%;
  height: 100vh;
}

.map {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  margin-top: 31px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #e5e7e9d8;
  border: 1px solid #b5c0ce;
  box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.277);
}

.iframe {
  width: 100%;
  height: 50vh;
  border: 0;
}

.direccion {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .contact-cabecera .textos {
    width: 100%; /* Aumenta el ancho en pantallas pequeñas */
    margin: 0 auto; /* Centra el contenido */
  }

  .textos h1 {
    text-align: center;
    margin-top: -80px;
    position: absolute;
    width: 100%;
    font-weight: lighter;
    /* margin-bottom: 50px; */
  }

  .textos p {
    font-size: 12px;
  }

  .contact-cabecera .fotografia {
    width: 100%;
    height: auto;
  }

  .contact-cabecera .fotografia img {
    height: auto;
  }

  .contact-cabecera button {
    width: 67%;
    margin: 20px auto;
    margin-left: 65px;
  }

  .formularios {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario {
    width: 100%;
    height: auto;
    margin-left: 20px;
  }

  .form__button {
    width: 70%;
    left: 100px;
  }
  .cajon {
    width: 80%;
    height: auto;
  }

  .formularios .fotografia img {
    width: 100%;
    height: auto;
  }

  .form-box {
    width: 100%; /* Hace que el contenedor del formulario ocupe todo el ancho */
    padding: 0 10px; /* Agrega un poco de padding */
  }

  .form__right {
    flex-basis: 100%; /* Hace que el lado derecho ocupe todo el ancho */
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
  }

  .section-3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .section-3 .fotografia img {
    width: 100%;
    height: auto; /* Ajusta la altura proporcionalmente */
  }

  .map {
    width: 50%;
    height: 30vh;
  }

  .direccion p {
    font-size: 17px;
    padding: 20px; /* Ajusta el margen superior */
  }
}

/* Responsive styles for mobile screens */
@media (max-width: 480px) {


  .contact-cabecera {
    flex-direction: column; /* Mantiene la dirección de columna */
    width: 100%; /* Asegura que ocupe el 100% del ancho */
    margin-top: -31px;
    height: auto; /* Ajusta la altura al contenido */
  }

  .contact-cabecera .textos {
    width: 100%; /* Ancho completo en móviles */
    margin-top: 160px; /* Espaciado vertical */
    margin-bottom: 25px;
  }

  .contact-cabecera .textos h1 {
    width: 100%;
    font-size: 25px;
    padding: 5px;
  }

  .contact-cabecera .textos p {
    width: 80%;
    font-size: 15px;
  }

  .contact-cabecera button {
    width: 65%;
    margin: 30px auto;
    margin-left: 70px;
  }
  .contact-cabecera button a {
    font-size: 15px;
  }


  .contact-cabecera .fotografia{
    width: 100%;

  }
  .contact-cabecera .fotografia img {

    width: 100%;
    height: auto;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    mask-image: linear-gradient(
      to bottom,
      rgba(86, 65, 42, 0.937) 80%,
      transparent
    );
  }



  .contact-cabecera[_ngcontent-ng-c2923406024]   button[_ngcontent-ng-c2923406024] {
    width: 90%;
    margin: 20px 20px;
    font-size: 4vw;
}

  .formularios {
    display: inline;
    flex-direction: column;
    width: 100%;
  }

  .formulario {
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left: 17px;
    padding: 10px;
  }

  .formularios .fotografia img {
    display: none;
  }

  .cajon {color: #998460;
    font-size: 15px;
    background-color: #83755c00;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 100%;
    padding: 10px;
    top: -40px;
  }

  .form__button[_ngcontent-ng-c2923406024] {
    width: 90%;
    left: 20px;
    margin-top: 151px;
    text-transform: uppercase;
    font-weight: lighter;
}

  .h1-form {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 65px;
  }
  .form-box {
    width: 100%;
    padding: 0 5px;
  }

  .form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .form__left,
  .form__right {
    flex-basis: 100%;
    max-width: 100%;
  }

  .section-3 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -70px;
  }

  .section-3  .fotografia{
    width: 100%;
    height: auto;
}

  .section-3 .fotografia img {
    width: 100%;
    height:40vh;
  }

  .map {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 25vh;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #e5e7e9d8;
    border: 1px solid #b5c0ce;
    box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.277);
  }

  .direccion {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
  }


  .textos h1 {
    font-size: 5vw;
  }

  .formularios h5 {
    font-size: 16px;
    text-align: center;
  }



}
