/* seccion 1 "que podemos hacer por ti" */
.contact-cabecera {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

#fachada {
  display: none;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-cabecera .textos {
  color: var(--color-texto);
  width: 50%;
  height: auto;
  margin-top: 100px;
  font-size: 1vw;
  animation: slideInFromTop 2s ease-out;
}

.contact-cabecera .textos p {
  margin: 0 auto;
  text-align: justify;
  line-height: 1.6;
  width: 65%;
}

.textos h1 {
  font-family: "Forum", serif;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-weight: lighter;
  margin-bottom: 20px;
}

.contact-cabecera .fotografia {
  width: 50vw;
  height: 100vh;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.contact-cabecera .fotografia img {
  border-top-left-radius: 40%;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  animation: slideInFromRight 2s ease-out;
}

.contact-cabecera button {
  margin-left: 17vw;
  margin-bottom: 50px;
}

.quotes {
  font-size: 0.9vw;
}

/* seccion 2 formularios */
.formularios {
  position: relative;
  display: inline-flex;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.formularios .textos p {
  text-align: center;
}

.formularios h5 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 13px;
}

.cajon {
  position: relative;
  background-color: var(--color-secundario);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  font-family: "Forum", serif;
  color: var(--color-texto-white);
  width: 40vw;
  height: auto;
  padding-top: 40px;
  top: -6vh;
  line-height: 2;
  text-align: center;
  font-weight: lighter;
}

.email-link {
  text-transform: lowercase;
  font-weight: 600;
  font-style: oblique;
  color: #bed4ee;
}

.formularios .fotografia img {
  width: 40vw;
  height: 60vh;
  left: 2vw;
  top: -37vh;
  object-fit: cover;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.form-box {
  flex-basis: 66%;
  padding: 0 15px;
}

.subtitle {
  font-size: 17px;
  margin-top: 10px;
}

.contact-form {
  width: 100%;
}

.formulario {
  width: 100%;
  height: 50vh;
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px;
}

.h1-form {
  color: var(--color-titulo);
}

.form__container {
  width: 100%;
  height: 45vh;
  padding: 0px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.form__left {
  flex-basis: 50%;
  margin-right: 15px;
}

.form__group {
  position: relative;
  margin-bottom: 2.5rem;
}

#options {
  margin-top: 50px;
}

.form__input[type="select"],
.form__input {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid var(--color-secundario);
  border-radius: 0.5rem;
  font-family: "Forum", serif;
  font-size: 1rem;
  padding: 1rem 1.2rem;
  outline: none;
  background-color: white;
  line-height: 2.1rem;
  z-index: 1;
}

.form__input:focus {
  border: 2px solid var(--color-principal);
}

.form__label {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  z-index: -1;
  color: var(--color-secundario) !important;
  font-family: "Forum", serif;
  font-size: 1.3rem;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}

.form__input:focus ~ label,
.form__input:not(:placeholder-shown) ~ label {
  top: -2rem;
  left: 0;
  z-index: 1;
  font-size: 15px;
  color: #6389b1eb;
}

.form__right {
  flex-basis: 50%;
  max-width: 50%;
}

.form__group--textarea {
  width: 100%;
  height: 80%;
}

.form__input--textarea {
  display: block;
  resize: none;
  height: 100%;
}

.formError {
  font-family: "Forum", serif;
  width: 100%;
  font-size: 13px;
  margin-left: 5px;
  color: #c63f4bf8;
}

.message {
  font-family: "Forum", serif;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.688);
  border: 1px solid #ffffff;
  width: 50%;
}

.success {

  margin-top: 80px;
  width: 100%;
  color: rgb(68, 158, 68);
    font-family: "Forum", serif;
  font-size: 15px;
}

.failed {
  width: 100%;
  color: #c63f4bf8;
  font-family: "Forum", serif;
  font-size: 15px;
}

/*seccion 3 donde estamos */
.section-3 {
  display: flex;
  align-items: flex-start;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 100px;
}
h1 {
  text-transform: uppercase;
  color: var(--color-titulo);
}

.section-3 .fotografia {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.section-3 .fotografia img {
  width: 100%;

  height: auto;
}

.map {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 31px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #e5e7e9d8;
  border: 1px solid #b5c0ce;
  box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.501);
}

.iframe {
  width: 100%;
  height: 50vh;
  border: 0;
}

.direccion {
  color: var(--color-principal);
  text-transform: uppercase;
  margin-top: 20px;
}

.btn {
  position: relative;
  outline: 0;
  border: 1px solid transparent;
  background-color: #488aec;
  color: var(--color-texto-white);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px #2a3442a6, 0 2px 4px -1px #1e252e9c;
}

.btn span {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transition: all 0.4s ease;
}

.button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.btn span:nth-child(2),
.btn span:nth-child(3) {
  position: absolute;
  top: 40px;
  color: #fff;
}

.btn span:nth-child(2) {
  background-color: #488aec;
}

.btn span:nth-child(3) {
  background-color: #488aec;
}

.btn:hover {
  box-shadow: 0 10px 15px -3px #2a374a4f, 0 4px 6px -2px #25344b17;
}

.btn:hover span:nth-child(2),
.btn:focus span:nth-child(3) {
  top: 0;
}

.btn:focus {
  box-shadow: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .contact-cabecera .textos {
    width: 100%; /* Aumenta el ancho en pantallas pequeñas */
    margin: 0 auto; /* Centra el contenido */
  }

  .textos h1 {
    text-align: center;
    margin-top: -80px;
    position: absolute;
    width: 100%;
    color: var(--color-texto-white);
    background-color: var(--color-secundario-transparente);
    font-weight: lighter;
    /* margin-bottom: 50px; */
  }

  .textos p {
    font-size: 12px;
  }

  .contact-cabecera .fotografia {
    width: 100%;
    height: auto;
  }

  .contact-cabecera .fotografia img {
    height: auto;
  }

  .contact-cabecera button {
    width: 67%;
    margin: 20px auto;
    margin-left: 65px;
  }

  .formularios {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario {
    width: 100%;
    height: auto;
    margin-left: 20px;
  }

  .form__button {
    width: 70%;
    left: 100px;
  }
  .cajon {
    width: 80%;
    height: auto;
  }

  .formularios .fotografia img {
    width: 100%;
    height: auto;
  }

  .form-box {
    width: 100%; /* Hace que el contenedor del formulario ocupe todo el ancho */
    padding: 0 10px; /* Agrega un poco de padding */
  }

  .form__right {
    flex-basis: 100%; /* Hace que el lado derecho ocupe todo el ancho */
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
  }

  .section-3 {
    height: auto;
    position: relative;
    flex-direction: column;
    top: 0px;
  }

  .section-3 .fotografia {
    width: 100%;
    height: auto;
  }

  .fotografia img {
    height: auto;
  }

  .map {
    width: 60%;
    height: 300px;
  }

  .direccion p {
    font-size: 20px;
    padding: 20px; /* Ajusta el margen superior */
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .contact-cabecera {
    flex-direction: column;
    width: 100%;
    height: auto;
    top: -50px;
  }

  .contact-cabecera .textos {
    width: 100%;
    left: 0px;
  }

  .contact-cabecera .textos h1 {
    width: 100%;
    font-size: 30px;
    padding: 5px;
  }

  .contact-cabecera .textos p {
    position: relative;
    width: 80%;
    font-size: 15px;
  }

  .quotes {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .contact-cabecera button {
    width: 65%;
    margin-top: 50px;
  }

  .contact-cabecera button a {
    font-size: 15px;
  }

  .contact-cabecera .fotografia {
    width: 70%;
    height: auto;
  }
  .contact-cabecera .fotografia img {
    width: 100%;
    height: 400px;

    border-top-left-radius: 0%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .formularios {
    display: inline;
    flex-direction: column;
    width: 100%;
  }

  .formulario {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 0px;
    padding: 20px;
  }

  .formularios .fotografia img {
    display: none;
  }

  .form__input[type="select"],
  .form__input {
    height: auto;
    font-size: 12px;
    line-height: 1.5rem;
  }

  .cajon {
    color: var(--color-principal);
    font-size: 15px;
    background-color: transparent;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 100%;
    padding: 10px;
    top: 0px;
  }

  .form__button {
    width: 90%;
    left: 20px;
    margin-top: 151px;
    font-weight: lighter;
  }

  .h1-form {
    color: var(--color-titulo);
    text-align: center;
    margin-bottom: 65px;
  }

  .form-box {
   width: 100%;
  }

  .form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .form__left,
  .form__right {
    flex-basis: 100%;
    max-width: 100%;
  }

  .btn {
    width: 70%;
    left: 61px;
    top: 60px;
  }

  .section-3 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 0px;
  }

  .section-3 .fotografia {
    width: 100%;
    height: auto;
  }

  .section-3 .fotografia img {
    position: relative;
    width: 100%;

  }
  .map {
    width: 90%;
    height: 300px;

  }

  .direccion p{
    margin: 50px;
    font-size: 17px;
    text-align: center;
  }

  .textos h1 {
    font-size:5vw;
  }

  .formularios h5 {
    font-size: 16px;
    text-align: center;
  }

  .form__group--textarea,
  #options {
    width: 96%;
  }
}

@media (max-width: 480px) {
  .contact-cabecera {
    flex-direction: column;
    width: 100%;
    height: auto;
    top: 10px;
  }

  .contact-cabecera .textos {
    width: 100%;
    left: 0px;
  }

  .contact-cabecera .textos h1 {
    width: 100%;
    font-size: 20px;
    padding: 5px;
  }

  .contact-cabecera .textos p {
    position: relative;
    width: 85%;
    font-size: 15px;
  }

  .contact-cabecera button {
    width: 65%;
    margin-top: 50px;
  }

  .contact-cabecera button a {
    font-size: 10px;
  }

  .contact-cabecera .fotografia {
    width: 90%;
    height: auto;
  }
  .contact-cabecera .fotografia img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  .formularios {
    display: inline;
    flex-direction: column;
    width: 100%;
  }

  .formulario {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 0px;
    padding: 20px;
  }

  .formularios .fotografia img {
    display: none;
  }

  .form__input[type="select"],
  .form__input {
    height: auto;
    font-size: 12px;
    line-height: 1.5rem;
    font-family: "Forum", serif;
  }
  .form__label{
    font-family: "Forum", serif;
  }

  .cajon {
    color: var(--color-principal);
    font-size: 15px;
    background-color: transparent;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 100%;
    padding: 10px;
    top: 0px;
  }

  .form__button {
    width: 90%;
    left: 20px;
    margin-top: 151px;
    font-weight: lighter;
  }

  .h1-form {
    color: var(--color-titulo);
    text-align: center;
    margin-bottom: 65px;
    font-size: 25px;
  }

  .form-box {
   width: 100%;
  }

  .form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .form__left,
  .form__right {
    flex-basis: 100%;
    max-width: 100%;
  }

  .btn {
    top: 80px;
  }

  .section-3 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 0px;
  }

  .section-3 .fotografia {
    width: 100%;
    height: auto;
  }

  .section-3 .fotografia img {
    position: relative;
    width: 100%;

  }
  .map {
    width: 90%;
    height: 300px;

  }

  .direccion p{
    margin: 50px;
    font-size: 17px;
    text-align: center;
  }



  .formularios h5 {
    width: 80%;
    font-size: 16px;
    text-align: center;
  }

  .form__group--textarea,
  #options {
    width: 96%;
  }
}

