<div class="contain">

  <div class="cabecera">
    <img class="logo" src="/assets/img/margaritas.jpg" alt="logo">
    <p><q class="cita">Refugio para incomprendidos, soñadores y buscadores de tesoros.</q><cite>M&M</cite></p>
  </div>

  <div class="seccion">

    <h1>Vivir unos instantes dentro de una novela es posible</h1>
    <h5>Descubre tu refugio literario de madera oscura y aromas a bergamota y earl grey donde bajar el ritmo y
      descubrir
      nuevos mundos sin levantarte del sillón.</h5><br>

    <p>Seamos sinceros, seguro que has pensado alguna vez cómo sería vivir en un agujero hobbit, volar con Fuyur,
      visitar
      la
      fábrica de chocolate, cruzar armarios hasta llegar a lugares donde siempre es invierno pero nunca Navidad o
      atravesar
      el andén 9 y ¾</p><br>

    <p>En definitiva, observar el mundo a través de los ojos de los autores que, con sus novelas, te ofrecen un pasadizo
      secreto a aventuras extraordinarias. Algunos de ellos describen esos lugares con tal nivel de detalle que buscamos
      las
      coordenadas exactas para sumergirnos en ellos durante unos instantes. ¿Te ha pasado terminar de leer un libro,
      pasar
      la última página y cerrarlo con pena por no poder vivir unos momentos más dentro de él? Créenos, sabemos cómo te
      sientes.</p><br>

    <p>No eres el único/a. Y aún vamos más allá. ¿Estás convencido de que hay lugares que te harán sentir como en casa
      aunque todavía no los conozcas o solo existan en tu imaginación? </p><br>

    <p>De hecho hay un concepto que explica esa sensación, esa nostalgia por un lugar en el que
      nunca has estado: <span>fernweh.</span> </p><br>

    <p>Alexander Von Humboldt (el padre de la geografía moderna universal) habla de esa atracción inexplicable hacia lo
      desconocido, la añoranza de lugares lejanos y, también, la melancolía de quedarse en casa. La escritora Elizabeth
      Lesser habla de este concepto y asegura que se puede sentir por la tierra de nuestros antepasados, aunque no la
      hayamos visitado nunca; una casita empedrada cubierta de hiedra, un viejo club nocturno lleno de humo, una kiva de
      adobe en medio del desierto o un paisaje de ciencia ficción.</p><br>

    <p>Seguro que a ti también te ha pasado el entrar en un lugar y sentir la conexión o la falta de ella. Es algo
      intangible, mágico incluso. Como la amistad, no sabes porqué pero con unas personas te sientes más conectado que
      con
      otras. Y es que con los lugares pasa un poco lo mismo. Tal vez sea porque, al final, un lugar refleja la
      personalidad
      de quienes viven dentro. Y es algo que no se puede ocultar.</p><br>

    <p>Nos pasa lo mismo. Mientras que para una son los bosques caledonios, el clima de Escocia o las ruinas antiguas,
      para
      la otra lo son las tormentas eléctricas, las ferias rurales y los faros perdidos. </p><br>

    <h5>¿Y si te dijera que existe un lugar donde todo eso es posible?</h5>

    <p>Margaritas a medianoche no es una librería normal. Es un lugar mágico, a caballo entre Narnia, una librería
      recóndita
      de Londres y un agujero hobbit. Vamos, todo lo que nos gusta. Un refugio donde quitarse los zapatos
      (metafóricamente
      hablando) y descansar del mundo exterior mientras disfrutas de una buena lectura y un buen café.</p><br>

    <p>Una guarida para lectores abrumados que buscan desconectar en un entorno seguro. Esta
      librería ofrece un refugio de letras y tazas de porcelana con los que bajar el ritmo y ser un poco más felices.
    </p><br>


    <button><a routerLink="/libreria">QUIERO VER LOS TESOROS</a></button>

    <div class="foto-about"><img class="logo"
      src="/assets/img/nosotras.jpeg"
      alt="foto sobre nosotras"></div>

    <h1>Sobre Nosotras</h1>
    <h5>Esta librería debía existir porque todos necesitamos un lugar en el que poder sentirnos
      cómodos y parar el tiempo. Un refugio para aquellos que aman los libros, un espacio no sólo
      para adquirir unos nuevos y leer, sino debatir, encontrar personas afines y realizar
      actividades culturales donde conocer nuevos autores y dejar salir nuestra creatividad.</h5>

      <button><a routerLink="/sobre-nosotras">SABER MAS SOBRE NOSOTRAS</a></button> <br>
  </div>
</div>
