<div class="contain">
  <div>
    <img class="estrella" src="assets/img/estrella.png" alt="Estrella">
  </div>

  <!-- Sección Cabecera -->
  <section class="cabecera" id="cabecera">
    <div class="logo">
      <h1 class="title1">Margaritas a</h1>
      <h1 class="title2">medianoche</h1>
    </div>

    <p><q class="cita">Refugio para incomprendidos, soñadores y buscadores de tesoros.</q><cite>M&M</cite></p>

    <h1 class="titulo">Vivir unos instantes dentro de una novela es posible</h1>
    <h5 class="subtitulo">
      Descubre tu refugio literario de madera oscura y aromas a bergamota y earl grey donde bajar el
      ritmo y descubrir nuevos mundos sin levantarte del sillón.
    </h5>
    <br>

    <div class="botones">
      <button class="button" routerLink="/libreria">QUIERO VISITAR LA LIBRERÍA</button>
    </div>

  </section>
  <div class="forma-fondo"></div>

  <!-- Sección 1 -->
  <section class="section section-1" id="section1">
    <div class="textos">
      <p>
        Seamos sinceros, seguro que has pensado alguna vez cómo sería vivir en un agujero hobbit, volar con
        Fuyur, visitar la fábrica de chocolate, cruzar armarios hasta llegar a lugares donde siempre es invierno pero
        nunca Navidad o atravesar el andén 9 y ¾
      </p>
      <br>

      <p>
        En definitiva, observar el mundo a través de los ojos de los autores que, con sus novelas, te ofrecen un
        pasadizo secreto a aventuras extraordinarias. Algunos de ellos describen esos lugares con tal nivel de detalle
        que buscamos las coordenadas exactas para sumergirnos en ellos durante unos instantes. ¿Te ha pasado terminar de
        leer un libro, pasar la última página y cerrarlo con pena por no poder vivir unos momentos más dentro de él?
        Créenos, sabemos cómo te sientes.
      </p>
      <br>

      <h2>LA TRAGEDIA DE TERMINAR UNA BUENA HISTORIA Y VOLVER AL MUNDO REAL</h2>
      <br>

      <p class="texto-blanco">
        No eres el único/a. Y aún vamos más allá. ¿Estás convencido de que hay lugares que te harán sentir como en casa
        aunque todavía no los conozcas o solo existan en tu imaginación?
      </p>
      <br>
    </div>

    <div class="fotografia">
      <img src="assets/img/escalera.jpg" alt="Escalera">
    </div>
    <div class="line">
    <img src="assets/img/line-2.png"  alt="Escalera">
  </div>
  <div class="line-2">
    <img src="assets/img/line-1.png"  alt="Escalera">
  </div>
  </section>

  <!-- Sección 2 -->
  <section class="section section-2" id="section2">
    <div class="textos2">
      <div class="parrafo1">
        <p>
          De hecho hay un concepto que explica esa sensación, esa nostalgia por un lugar en el que
          nunca has estado:
        </p>
        <h2>fernweh.</h2>
      </div>

      <div class="parrafo2">
        <p>
          Alexander Von Humboldt (el padre de la geografía moderna universal) habla de esa atracción inexplicable hacia lo
          desconocido, la añoranza de lugares lejanos y, también, la melancolía de quedarse en casa. La escritora Elizabeth
          Lesser habla de este concepto y asegura que se puede sentir por la tierra de nuestros antepasados, aunque no la
          hayamos visitado nunca; una casita empedrada cubierta de hiedra, un viejo club nocturno lleno de humo, una kiva de
          adobe en medio del desierto o un paisaje de ciencia ficción.
        </p>
      </div>
    </div>

    <div class="fotografia2">
      <img src="assets/img/luces.jpg" alt="Luces">
    </div>
  </section>

  <!-- Sección 3 -->
  <section class="section section-3" id="section3">
    <div class="textos3">
      <div class="parrafo1-3">
        <h2>La sensación de sentirse en <br>el lugar correcto</h2>
        <p>
          Seguro que a ti también te ha pasado el entrar en un lugar y sentir la conexión o la falta de ella. Es algo
          intangible, mágico incluso. Como la amistad, no sabes porqué pero con unas personas te sientes más conectado que
          con
          otras.
        </p>
        <p>
          Y es que con los lugares pasa un poco lo mismo. Tal vez sea porque, al final, un lugar refleja la personalidad
          de quienes viven dentro. Y es algo que no se puede ocultar.
        </p>
      </div>
      <div class="parrafo2-3">
        <p>Nos pasa lo mismo.</p>
        <p>
          Mientras que para una son los bosques caledonios, el clima de Escocia o las ruinas
          antiguas,
          para
          la otra lo son las tormentas eléctricas, las ferias rurales y los faros perdidos.
        </p>
      </div>
    </div>

    <div class="fotografia3">
      <img src="assets/img/chica.jpg" alt="Chica">
    </div>
  </section>

  <!-- Sección 4 -->
  <section class="section section-4" id="section4">
    <div class="textos4">
      <h4 class="h4-1">¿Y si te dijera que existe un lugar donde todo eso es posible?</h4>

      <p>
        Margaritas a medianoche no es una librería normal. Es un lugar mágico, a caballo entre Narnia, una librería
        recóndita de Londres y un agujero hobbit. Vamos, todo lo que nos gusta. Un refugio donde quitarse los zapatos
        (metafóricamente hablando) y descansar del mundo exterior mientras disfrutas de una buena lectura y un buen café.
      </p>
      <br>

      <h4 class="h4-2">Porque a veces solo necesitamos ser</h4>
      <p>
        Descubre la guarida para lectores abrumados que buscan desconectar en un entorno seguro. Esta
        librería ofrece un refugio de letras y tazas de porcelana con los que bajar el ritmo y ser un poco más felices.
      </p>

      <div class="botones">
        <button class="button"><a href="/libreria#section6">QUIERO VER LOS TESOROS</a></button>
      </div>
    </div>

    <div class="imagenes">
      <div class="fotografia4">
        <img src="assets/img/cafe.png" alt="Café">
      </div>
      <div class="fotografia5">
        <img src="assets/img/sillones.jpg" alt="Sillones">
      </div>
    </div>
  </section>

  <!-- Sección 5 -->
  <section class="section section-5" id="section5">
    <h1>Categorías</h1>
    <div class="sol">
      <img src="assets/img/sol.png" alt="Sol">
    </div>
    <div class="enlaces">
      <div class="fotografia6">
        <a routerLink="/libreria">
          <img src="assets/img/jarron.jpg" alt="Jarrón">
          <h2>Librería</h2>
        </a>
      </div>
      <div class="fotografia7">
        <a routerLink="/club-de-lectura">
          <img src="assets/img/club.jpg" alt="Club de Lectura">
          <h2>Club de Lectura</h2>
        </a>
      </div>
      <div class="fotografia8">
        <a routerLink="/blog">
          <img src="assets/img/bolsillo.jpg" alt="Bolsillo">
          <h2>Blog</h2>
        </a>
      </div>
      <div class="fotografia6">
        <a routerLink="sobre-nosotras">
          <img src="assets/img/nosotres.png" alt="nosotras">
          <h2>Quienes somos</h2>
        </a>
      </div>
      <div class="fotografia7">
        <a routerLink="/contacto">
          <img src="assets/img/mail.jpg" alt="buzon">
          <h2>Contacto</h2>
        </a>
      </div>

    </div>
  </section>

  <!-- Sección 6 -->
  <section class="section section-6" id="section6">
    <div class="foto-about">
      <img src="/assets/img/m-m.jpg" alt="Foto Sobre Nosotras">
    </div>
    <div class="line-3">
      <img src="assets/img/line-4.png"  alt="Escalera">
    </div>

    <div class="textos6">
      <h1>Sobre <br> Nosotras</h1>
      <h5>
        Esta librería debía existir porque todos necesitamos un lugar en el que poder sentirnos
        cómodos y parar el tiempo. Un refugio para aquellos que aman los libros, un espacio no sólo
        para adquirir unos nuevos y leer, sino debatir, encontrar personas afines y realizar
        actividades culturales donde conocer nuevos autores y dejar salir nuestra creatividad.
      </h5>

      <div class="botones">
        <button class="button">
          <a routerLink="/sobre-nosotras">SABER MÁS SOBRE NOSOTRAS</a>
        </button>
      </div>
      <br>
    </div>
  </section>
</div>
