/* cabecera */

@keyframes move {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(50vw, 20vh) rotate(36deg);
  }
  20% {
    transform: translate(80vw, 50vh) rotate(72deg);
  }
  30% {
    transform: translate(20vw, 70vh) rotate(108deg);
  }
  40% {
    transform: translate(70vw, 10vh) rotate(144deg);
  }
  50% {
    transform: translate(30vw, 50vh) rotate(180deg);
  }
  60% {
    transform: translate(90vw, 20vh) rotate(216deg);
  }
  70% {
    transform: translate(10vw, 60vh) rotate(252deg);
  }
  80% {
    transform: translate(60vw, 30vh) rotate(288deg);
  }
  90% {
    transform: translate(20vw, 80vh) rotate(324deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.estrella {
  position: absolute;
  width: 7%;
  z-index: 1;
  margin-top: 150px;
  animation: move 100s ease infinite;
}

/*logo margaritas a medianoche */
.logo {
  margin: 0 auto;
  margin-top: 120px;
  width: 100%;
}

.title1 {
  font-size: 50px;
  color: var(--color-texto-white);
  font-family: "Bodoni Moda SC", serif;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 4px 0px 0 rgba(61, 61, 61, 0.856);
}

.title2 {
  font-size: 50px;
  color: var(--color-texto-white);
  font-family: "Allura", cursive;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 3px 0px 0 rgba(54, 53, 53, 0.848);
}
/* fin logo */

.titulo {
  position: relative;
  font-family: "Forum", serif;
  text-shadow: 3px 0px 0 rgba(54, 53, 53, 0.706);
  margin: 0 auto;
  margin-top: 90px;
  color: var(--color-texto-white);
  width: 70%;
  text-align: center;
  font-size: 4vw;
  font-weight: lighter;
  line-height: 1;
  z-index: 3;
}

.subtitulo {
  position: relative;
  font-family: "Nanum Myeongjo", serif;
  font-weight: lighter;
  margin: 0 auto;
  margin-top: 70px;
  color: var(--color-texto-white);
  width: 30%;
  text-align: center;
  z-index: 1;
}

.cita,
cite {
  font-size: 0.9vw;
  position: relative;
  z-index: 1;
  color: var(--color-fondo-cabecera);
}

.forma-fondo {
  width: 40%;
  position: absolute;
  height: 489px;
  margin: 0 auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: translateX(76%) translateY(-107%);
  background-color: var(--color-forma);
}

.cabecera {
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  overflow: auto;
}

.cabecera::before {
  content: "";
  background: linear-gradient(#5b4d3443  60%, #c4a884), url(/assets/img/fachada-margaritas.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cabecera .button {
  font-family: "Forum", serif;
  background-color: var(--color-boton);
  color: var(--color-texto);
  font-weight: 700;
}

.cabecera .button:hover {
  color: var(--color-texto-white);
  font-weight: lighter;
}


.olas{
  position: relative;
  margin-top: -1%;
  z-index: -10;
}

/* seccion 1 Seamos sinceros... */

.section-1 {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin-top: 100px;
}

.textos {
  color: var(--color-texto);
  width: 50%;
  top: 50px;
}

.textos p {
  margin: 0 auto;
  text-align: justify;
  line-height: 2;
  width: 65%;
}

.textos h2 {
  text-align: center;
  font-weight: lighter;
  top: 15px;
  bottom: 15px;
  color: var(--color-titulo);
}

.fotografia {
  width: 50%;
  height: auto;
}

.fotografia img {
  width: 85%;
  height: 80vh;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.line {
  position: absolute;
  top: 46%;
  left: -1%;
  opacity: 0.6;
}

.line-2 {
  position: absolute;
  top: 55%;
  left: -1%;
  z-index: -1;
  filter: contrast(0.2);
}

.line-3 {
  position: absolute;
  top: 58%;
  left: -13%;
  filter: hue-rotate(197deg);
  z-index: -1;
}

/* seccion 2 */
.section-2 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.textos2 {
  width: 40%;
  height: auto;
  line-height: 2;
}

.textos2 p {
  margin: 0 auto;
  text-align: left;
  width: 65%;
}

.parrafo1 {
  position: absolute;
  background-color: var(--color-secundario-transparente);
  width: 60%;
  height: 240px;
  padding: 20px;
  z-index: 10;
  margin-top: -150px;
}

.parrafo1 p {
  color: var(--color-texto-white);
  width: 40%;
  font-size: 18px;
  margin-left: 100px;
}

.textos2 h2 {
  font-family: "Bodoni Moda SC", serif;
  text-align: left;
  color: var(--color-texto-white);
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  font-size: 60px;
}

.parrafo2 {
  margin-top: 100px;
}

.parrafo2 p {
  margin-left: 100px;
  line-height: 2;
  color: var(--color-texto);
}

.fotografia2 {
  width: 55%;
  height: auto;
}

.fotografia2 img {
  width: 100%;
  height: 100vh;
  border-top-left-radius: 0;
  border-top-right-radius: 20%;
}

/* seccion 3 */
.section-3 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.textos3 {
  width: 50%;
}

.parrafo1-3 h2 {
  background-color: var(--color-secundario-transparente);
  position: absolute;
  width: 70%;
  top: 30px;
  padding-left: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 10;
}

.textos3 p {
  position: relative;
  text-align: left;
  margin-top: 20px;
  width: 65%;
  line-height: 2;
}

.parrafo1-3 p,
.parrafo2-3 p {
  top: 50px;
  margin-left: 70px;
  color: var(--color-texto);
}

.textos3 h2 {
  text-align: left;
  color: var(--color-texto-white);
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 10px;
  font-size: 40px;
}

.fotografia3 {
  width: 50%;
  height: auto;
  z-index: -1;
}

.fotografia3 img {
  width: 100%;
  height: 100vh;
  border-top-left-radius: 0;
  border-top-right-radius: 20%;
}

/* seccion4 */
.section-4 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.textos4 h4,
.h4-1 {
  text-align: left;
  margin-left: 50px;
  width: 60%;
  text-transform: uppercase;
}

.textos4 {
  margin-top: -100px;
  width: 60%;
  color: var(--color-texto);
}

.textos4 p {
  line-height: 2;
  text-align: left;
  margin-left: 80px;
  width: 50%;
}

.imagenes {
  width: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.fotografia4 {
  position: absolute;
  z-index: 2;
  width: 460px;
  top: 50%;
  left: -35%;
}

.fotografia4 img {
  position: absolute;
  width: 60%;
  height: 55vh;
  left: 6vw;
  top: -28vh;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  object-fit: cover;
}

.fotografia5 {
  width: 100%;
  z-index: 1;
}

.fotografia5 img {
  width: 100%;
  min-height: 100vh;
}

.section-4 button {
  margin-top: 30px;
  margin-left: 75px;
}

/* seccion5 */

.section-5 {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  min-height: 100vh;
}

.section-5 h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--color-titulo);
  padding-top: 100px;
}

.sol img {
  position: absolute;
  width: 23vw;
  left: 9vw;
  top: 20vh;
  z-index: -1;
  filter: hue-rotate(44deg);
}

.enlaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: var(--color-secundario-transparente);
  gap: 20px;
}

.enlaces img {
  width: 100%;
  overflow: hidden;
  transition: all 500ms ease-in-out;
  padding: 10px;
  filter: opacity(70%);
}

.enlaces img:hover {
  transform: scale(1.01);
  filter: drop-shadow(2px 2px 10px #322d25d1);
}

.enlaces h2 {
  color: var(--color-boton);
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  padding-top: 20px;
  transition: all 300ms ease-in;
}

.enlaces img:hover + h2 {
  color: var(--color-titulo);
  text-decoration-line: underline;
}

.enlaces a {
  text-decoration: none;
}

.fotografia6 img,
.fotografia7 img,
.fotografia8 img {
  width: 180px;
  height: 180px;
}

/*seccion6 */
.section-6 {
  position: relative;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.textos6 {
  color: var(--color-texto);
  width: 50%;
}

.textos6 h5 {
  text-align: left;
  margin-left: 30px;
  line-height: 1.5;
  margin-top: 40px;
  width: 60%;
  z-index: 1;
}

.textos6 h1 {
  text-align: left;
  font-weight: lighter;
  text-transform: uppercase;
  margin-left: 30px;
}

.foto-about {
  display: flex;
  width: 50%;
  height: auto;
  margin-left: 70px;
}

.foto-about img{
  width: 80%;
  max-height: 70vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.line-3{
  top: 49%;
  left: -15%;
  z-index: -1;
  opacity: 0.6;
}


.section-6 button {
  margin-top: 30px;
  margin-left: 30px;
}

@media (max-width: 1024px) {
  .cita,
  cite {
    font-size: 12px;
  }

  .subtitulo {
    font-size: 15px;
  }

  /* seccion2 */
  .textos h2 {
    font-size: 20px;
  }

  /* seccion3 */

  .fotografia2 img,
  .fotografia3 img,
  .fotografia5 img {
    height: 80vh;
  }

  .fotografia4 img {
    width: 50%;
    height: 44vh;
    top: -23vh;
  }

  .fotografia6 img,
  .fotografia7 img,
  .fotografia8 img {
    width: 130px;
    height: 130px;
  }

  .foto-about img {
    width: 80%;
    height: 60vh;
  }
}

@media (max-width: 913px) {
  /* seccion2 */
  .parrafo1 {
    width: 75%;
    height: 245px;
  }

  /* seccion3 */
  .parrafo1-3 h2 {
    width: 80%;
    top: 10px;
  }
}

@media (max-width: 768px) {
  .estrella {
    width: 9%;
  }

  .forma-fondo {
    width: 71%;
    height: 527px;
    transform: translateX(21%) translateY(-170%);
  }

  .logo {
    margin-top: 120px;
    width: 100%;
  }

  .cita,
  cite {
    font-size: 12px;
  }

  .subtitulo {
    margin-top: 100px;
    font-size: 12px;
    width: 60%;
  }

  .button {
    margin-top: 90px;
    width: 200px;
    font-size: 10px;
  }

  .textos {
    width: 100%;
    margin-left: 0;
    padding: 5px;
    z-index: 10;
  }

  .textos p {
    width: 90%;
    padding: 10px;
  }

  .textos h2 {
    font-size: 20px;
    padding: 20px;
  }

  .textos .texto-blanco {
    width: 100%;
    padding: 20px;
    font-size: 17px;
    text-align: center;
    position: absolute;
    color: var(--color-texto-white);
    padding-top: 0;
    padding-bottom: 200px;
    z-index: 100;
  }

  .fotografia {
    width: 100%;
    height: auto;
  }

  .fotografia img {
    margin-top: -70px;
    width: 100%;
    height: auto;
    border-radius: 0%;
    /* mask-image: linear-gradient(to top, rgb(255, 255, 255), rgba(233, 223, 223, 0.893)); */
    z-index: -1;
  }

  .line {
    top: -15%;
    left: -19%;
  }

  .line-2 {
    top: -18%;
    left: -30%;
  }
  .line-3 {
    top: 71%;
    left: -62%;
    z-index: -1;
  }

  .line img,
  .line-2 img,
  .line-3 img {
    width: 100%;
  }

  /* seccion2 */
  .parrafo1 {
    width: 100%;
    height: auto;
    background-color: var(--color-secundario);
  }

  .parrafo2 p {
    text-align: center;
    width: 100%;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    position: absolute;
    font-size: 15px;
    top: 630px;
    color: var(--color-texto-white);
    z-index: 10;
  }

  .fotografia2 img {
    width: 100%;
    margin-top: 90px;
    border-top-right-radius: 0;
    mask-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.893));
    z-index: -1;
  }

  /*seccion3 */
  .parrafo1-3 h2 {
    width: 100%;
    top: -100px;
    position: relative;
  }

  .parrafo1-3 p,
  .parrafo2-3 p {
    margin: 0 auto;
    font-size: 15px;
    width: 90%;
  }

  .fotografia3 img {
    width: 100%;
    height: auto;
    margin-top: 100px;
    border-top-right-radius: 0;
  }

  .textos4 {
    margin-top: -20px;
    width: 100%;
    height: auto;
    color: var(--color-texto);
  }

  .textos4 .h4-1 {
    background-color: var(--color-secundario);
    position: absolute;
    color: var(--color-texto-white);
    font-size: 15px;
    padding: 20px;
    /* border-top-left-radius: 0px; */
    /* border-top-right-radius: 0px; */
    text-align: center;
    margin-top: -80px;
    margin-left: 0px;
    width: 100%;
    font-family: "Nanum Myeongjo", serif;
    text-transform: uppercase;
  }

  .textos4 p {
    text-align: justify;
    margin-top: 50px;
    margin-left: 115px;
    width: 70%;
    font-size: 15px;
    color: var(--color-texto);
  }

  .textos4 .h4-2 {
    font-family: "Nanum Myeongjo", serif;
    position: relative;
    text-align: center;
    margin-left: 180px;
    width: 47%;
    text-transform: uppercase;
    color: var(--color-titulo);
  }

  .section-4 .button {
    margin-left: 270px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .section-5 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .section-5 h1 {
    font-size: 40px;
    font-weight: 700;
    padding-top: 114px;
    color: var(--color-titulo);
  }

  .sol img {
    width: 48vw;
    top: 4vh;
  }

  .enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .enlaces a {
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }

  .enlaces img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
  }

  .fotografia6,
  .fotografia7,
  .fotografia8 {
    width: 100%;
    overflow: hidden;
  }

  .enlaces h2 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 12px;
    transition: all 0.5s ease-in-out;
  }



  .enlaces a:hover img {
    transform: scale(1.05);
  }

  .foto-about {
    height: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: -10px;
  }

  .foto-about img {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 75px;
    mask-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.966) 50%,
      transparent
    );
    z-index: -1;
  }

  .textos6 h1 {
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 23px;
    margin-top: -800px;
  }

  .textos6 h5 {
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    padding: 50px;
    font-size: 17px;
    font-weight: bold;
  }

  .section-4 .botones {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .botones {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .section-6 button {
    margin-top: 615px;
  }

  .section {
    margin-bottom: 10px;
    padding: 0px;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4,
  .section-5,
  .section-6 {
    display: block;
    padding: 0px;
    height: auto;
  }

  .textos2,
  .textos3,
  .textos4,
  .textos6 {
    width: 100%;
  }

  .fotografia2,
  .fotografia3,
  .fotografia4 {
    width: 100%;
    height: auto;
  }

  .fotografia4,
  .fotografia5 {
    display: none;
  }
}

@media (max-width: 480px) {

  .cabecera::before {
    background: linear-gradient(#5b4d3443 60%, #c5b094), url(/assets/img/fachada-margaritas.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


  .estrella {
    width: 15%;
    z-index: 100;
  }

  .forma-fondo {
    display: none;
  }


  .title1,.title2{
    font-size: 40px;
  }
  .logo {
    margin-top: 90px;
    width:90%;
    z-index: 1;
  }

  .cita,
  cite {
    display: none;
  }

  .titulo {
    margin-top: 70px;
    color: var(--color-texto-white);
    font-size: 35px;
    width: 97%;
    padding: 10px;
    z-index: 1;
  }
  .subtitulo {
    margin-top: 195px;
    font-size: 15px;
    color: var(--color-texto-white);
    width: 70%;
  }

  .button {

    margin-top: -180px;
    font-size: 9px;
    z-index: 100;
  }

  .section-1 {
    margin-top: 0px;
  }
  .textos {
    width: 100%;
    margin-left: 0;
    padding: 5px;
    font-size: 3vw;
    z-index: 10;
  }

  .textos p {
    width: 90%;
    padding: 10px;
    text-align: justify;
    position: relative;
  }

  .textos h2 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
  }

  .textos .texto-blanco {
    width: 100%;
    font-size: 13px;
    text-align: center;
    position: relative;
    color: var(--color-texto);
    margin-left: 0px;
    padding-bottom: 100px;
  }

  .fotografia {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }

  .fotografia img{
    width: 100%;
    height: 50vh;
    /* mask-image: linear-gradient(to top, rgb(255 255 255 / 92%) 50%, rgba(0, 0, 0, 0)); */
}

  .line{
    display: none;
    /* top: 35%;
    left: -42%;
    transform: rotate(198deg); */
}

.line-2{
  display: none;
  /* top: 133%;
  left: -88%;
  z-index: 10; */
}
  .parrafo1 {
    position: relative;
    margin-left: 0px;
    text-align: center;
    background-color: var(--color-secundario);
    width: 100%;
    height: auto;
    padding: 10px;
    z-index: 10;
    margin-top: -100px;
  }

  .parrafo2 {
    position: relative;
    top: -633px;
  }

  .parrafo2 p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    font-weight: lighter;
    margin-left: 0px;
    color: var(--color-texto);
    top: 517px;
    margin-top: 30px;
    position: absolute;
  }

  .fotografia2 img {
    width: 100%;
    height: 50vh;
    margin-top: 250px;
    margin-left: 0px;
    border-top-right-radius: 0;
    /* mask-image: linear-gradient(
      to top,
      rgb(255, 255, 255) 50%,
      rgba(0, 0, 0, 0)
    ); */
  }

  .parrafo1 p {
    width: 60%;
    margin-left: 20px;
  }

  .textos2 h2 {
    margin-left: 20px;
    font-weight: 600;
    text-shadow: 3px 0px 0 rgb(131 128 125 / 40%);
  }


  .textos3 h2 {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 20px;
    font-family: "Nanum Myeongjo", serif;
    background: var(--color-secundario);
  }

  .parrafo1-3 p,
  .parrafo2-3 p {
    top: -40px;
    margin-left: 18px;
    text-align: justify;
    width: 90%;
    margin-bottom: 20px;
  }

  .fotografia3 img {
    width: 100%;
    height: 50vh;
    margin-top: 0px;
    margin-left: 0px;
    /* mask-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.301) 62%,
      rgba(0, 0, 0, 0)
    ); */
  }

  .textos4 {
    background-color: #ffffff87;
    margin-top: -50px;
    width: 100%;
    height: auto;
    font-size: 17px;
    color: var(--color-texto);
  }

  .textos4 .h4-1 {
    background-color: var(--color-secundario);
    position: absolute;
    color: var(--color-texto-white);
    font-size: 12px;
    padding: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
    margin-top: -80px;
    margin-left: 0px;
    width: 100%;
    font-family: "Nanum Myeongjo", serif;
    text-transform: uppercase;
  }

  .textos4 p {
    text-align: justify;
    margin-top: 50px;
    margin-left: 20px;
    width: 90%;
    color: var(--color-texto);
  }

  .textos4 .h4-2 {
    font-family: "Nanum Myeongjo", serif;
    position: relative;
    text-align: center;
    margin-left: 110px;
    text-transform: uppercase;
    color: var(--color-titulo);
  }

  .section-4 .botones {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }

  .section-4 .button {
    margin-left: 0px;
  }

  .section-5 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .section-5 h1 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 114px;
    color: var(--color-titulo);
  }

  .sol img {
    width: 48vw;
    top: 4vh;
  }

  .enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .enlaces a {
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }

  .enlaces img {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
  }

  .fotografia6,
  .fotografia7,
  .fotografia8 {
    width: 40%;
    overflow: hidden;
  }

  .enlaces h2 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 12px;
  }


  .enlaces a:hover img {
    transform: scale(1.05);
  }

  .line-3{
    top: -1%;
    left: -77%;
  }

  .foto-about {
    height: auto;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    z-index: -1;
  }

  .foto-about img {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 200px;
    margin-left: 0px;
    mask-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.966) 50%,
      transparent
    );
    z-index: -1;
  }

  .textos6 h1 {
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 23px;
    margin-top: -600px;
  }

  .textos6 h5 {
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    z-index: 10;
  }

  .section-6 button {
    margin-top: 300px;
    margin-left: 0px;
  }

  .section {
    margin-bottom: 10px;
    padding: 0px;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4,
  .section-5,
  .section-6 {
    display: block;
    padding: 0px;
    height: auto;
    position: relative;
    top: 10px;
  }

  .textos2,
  .textos3,
  .textos4,
  .textos6 {
    width: 100%;
  }

  .fotografia2,
  .fotografia3,
  .fotografia4,
  .foto-about {
    width: 100%;
    height: auto;
  }

  .fotografia4,
  .fotografia5 {
    display: none;
  }
}

@media (max-width: 376px) {
  .cabecera {
    padding-bottom: 0px;
    z-index: 1;
  }

  .estrella {
    width: 15%;
    z-index: 100;
  }

  .forma-fondo {
    display: none;
  }

  .logo {
    margin-top: 60px;
    width: 90%;
    z-index: 1;
  }

  .titulo {
    margin-top: 60px;
    font-size: 25px;
    padding: 10px;
    z-index: 1;
  }
  .subtitulo {
    margin-top: 190px;
    font-size: 12px;
    width: 70%;
  }

  .button {
    width: 180px;
    margin-top: -180px;
    font-size: 9px;
    z-index: 100;
  }

  .textos4 .h4-2 {
    margin-left: 93px;
  }

  .enlaces img {
    width: 150px;
    height: 150px;
  }

  .textos6 h1 {
    margin-top: -600px;
  }

  .foto-about img {
    margin-top: 200px;
  }
}

@media (max-width: 320px) {
  .estrella {
    width: 20%;
  }

  .logo {
    margin-top: 80px;
    width: 100%;
  }

  .subtitulo {
    margin-top: 120px;
    font-size: 10px;
    width: 75%;
  }

  .button {
    width: -180px;
    font-size: 8px;
  }

  .textos h2 {
    font-size: 16px;
  }

  .fotografia img {
    margin-top: -100px;
  }

  .parrafo2 p {
    font-size: 13px;
    font-weight: lighter;
  }

  .parrafo1 p {
    font-size: 17px;
  }

  .textos2 h2 {
    font-size: 50px;
  }

  .textos4 .h4-2 {
    margin-left: 78px;
  }

  .section-5 h1 {
    font-size: 28px;
  }

  .section-6 button {
    margin-top: 300px;
  }
}
