<div class="contain" id="cabecera">

  <div class="texto">
    <h2>club de lectura</h2>
    Descubre este rincón secreto de nuestra tienda, donde los amantes de
    los libros se reúnen para compartir momentos únicos. <br> Únete a nuestro club
    de lectura y deja que las palabras te envuelvan mientras desconectas del
    ajetreo del día a día. Aquí, entre estanterías llenas de historias,
    encontrarás un refugio perfecto para bibliófilos como tú. Comparte risas,
    debates apasionantes y ese aroma a café recién hecho que acompaña cada
    lectura. <br> Esta es tu guarida, un lugar donde cada página se convierte en
    una puerta hacia la felicidad. <br>  Aquí tienes algunas fotos de lo que te espera: momentos inolvidables,
    sonrisas compartidas y las experiencias únicas que solo nuestro club de
    lectura puede ofrecer.
  </div>

  <section class="seccion-club" >
    <ul class="cards">
      <li><img src="assets/img/libreria1.jpg" alt="Álbum 1" /></li>
      <li><img src="assets/img/libreria-niño.jpg" alt="Álbum 2" /></li>
      <li><img src="assets/img/libreria-cafe2.jpg" alt="Álbum 3" /></li>
      <li><img src="assets/img/libreria-chica-nordica.jpg" alt="Álbum 4" /></li>
      <li><img src="assets/img/libreria-chico.jpg" alt="Álbum 5" /></li>
      <li><img src="assets/img/libreria-chica1.jpg" alt="Álbum 6" /></li>
      <li><img src="assets/img/libreria-cafe.jpg" alt="Álbum 7" /></li>
      <li><img src="assets/img/libreria-chica2.jpg" alt="Álbum 8" /></li>
      <li><img src="assets/img/libreria-grupo2.jpg" alt="Álbum 9" /></li>
      <li><img src="assets/img/libreria-niña.jpg" alt="Álbum 10" /></li>
      <li><img src="assets/img/libreria-cafe3.jpg" alt="Álbum 11" /></li>
      <li><img src="assets/img/libreria-perro.jpg" alt="Álbum 12" /></li>
      <li><img src="assets/img/libreria-suelo.jpg" alt="Álbum 13" /></li>
      <li><img src="assets/img/libreria-señor.jpg" alt="Álbum 14" /></li>
      <li><img src="assets/img/libreria-sillon.jpg" alt="Álbum 15" /></li>
      <!-- <li><img src="assets/img/libreria2.jpg" alt="Álbum 17" /></li>
      <li><img src="assets/img/libreria5.jpg" alt="Álbum 18" /></li> -->
    </ul>
  </section>
</div>
