<div class="contain">
  <div class="section-about">
    <!-- Sección 1 -->
    <section class="about1" id="cabecera">
      <div class="texto-about1">
        <p>¡Hola!</p>
        <p>
          ¿Te has parado a pensar alguna vez en que todos tenemos la misma cantidad de tiempo pero
          cada uno hacemos un uso distinto de él? A nosotras nos costó darnos cuenta de que nos
          desaparecía entre las manos con mucha facilidad, como ese puñado de arena que coges de la
          playa y se escurre entre los dedos.</p><br>

        <p>Lo cierto es que estábamos cansadas de vivir estresadas. Mirábamos con anhelo a esas
          personas que paseaban de manera tranquila y se sentaban a leer en un banco como si tuviesen
          todo el tiempo del mundo.</p><br>

        <p>Envidia de la buena, eso teníamos. Queríamos alcanzar de alguna manera esa calma de quien
          disfruta del recorrido, de quien no va corriendo a todas partes pensando en mil cosas por
          hacer.</p>
      </div>

      <!-- <div class="triangulo">
        <img src="assets/img/triangulo.png" alt="">
      </div>
       -->

      <div class="foto-about">
        <img class="foto" src="/assets/img/nosotras.jpeg" alt="foto sobre nosotras">
      </div>
    </section>

    <!-- Sección 2 -->
    <section class="section about2" id="about2">
      <div class="foto-about">
        <img class="foto" src="/assets/img/cafe-montaña.jpg" alt="foto sobre nosotras">
      </div>
      <div class="texto-about2">
        <p class="p-1">Bajar el ritmo, ir contracorriente y disfrutar del camino aprovechando esas pequeñas cosas
          que nos hacían felices se convirtió en el propósito que queríamos conseguir. Queríamos
          cambiar nuestro día a día y nuestra forma de pensar. Después de todo, si ellos podían, ¿por
          qué no nosotras? Así que empezamos a ponerlo en práctica y cada vez que teníamos un
          pensamiento acelerado, lo parábamos y nos preguntábamos: ¿es cuestión de vida o muerte?,
          Spoiler, la mayoría de las veces la respuesta es un no.</p><br>
        <div class="destacado-about2">
          <h5>Aprendiendo a mirar bonito</h5>
        </div>
        <p>Cuando repetimos un comportamiento durante cierto tiempo se genera un hábito y los hábitos
          crean rutinas, maneras de pensar que podemos cambiar poco a poco. Eso es lo que nos
          ocurrió. Y esa filosofía de vida se fue asentando en todos los ámbitos, incluso en la forma que
          teníamos de viajar. Cuando vamos a un lugar nuevo, no vamos corriendo como pollos sin
          cabeza para ver el mayor número de localizaciones y monumentos posibles. Es estresante y
          contraproducente si uno quiere dejarse sorprender por el lugar en el que está. De hecho,
          existe un concepto en francés, flâneuse, que describe a una persona que pasea por la ciudad,
          que vaga sin rumbo fijo, abierta a todo lo que pueda ocurrir. Es el arte de vagabundear o,
          como lo definió Honoré de Balzac: “gastronomía para los ojos”. Y eso nos gusta más.</p><br>
      </div>
    </section>

    <!-- Sección 3 -->
    <section class="section about3" id="about3">
      <div class="texto-about3">
        <div class="destacado-about3"></div>
        <h5>Buscando nuestro refugio</h5>
        <p class="p1">
          El caso es que, cada vez que visitamos un sitio nuevo, buscamos las librerías que se encuentran
          escondidas entre sus calles pero en todas ellas nos faltaba algo para sentirnos realmente en
          casa.
        </p>

        <p>
          Demasiado frías, demasiado formales, demasiado caóticas… Así que llegamos a la
          conclusión de que si no podíamos encontrarla debíamos crearla. No fue fácil. Las cosas que de
          verdad valen la pena nunca lo son. Aprendimos mucho en esos primeros meses.
        </p>
        <p>
          Tuvimos que
          enfrentarnos al síndrome de la impostora, la burocracia administrativa, las cláusulas del
          contrato y leer bien la letra pequeña ante el enorme proyecto que teníamos por delante. Pero
          las ganas eran más grandes que el miedo, y acompañadas de él en muchas ocasiones hemos
          conseguido sacarla adelante.</p>

        <p>Si tú también estás buscando un refugio donde te abracen las páginas de los libros y puedas
          dejar fuera el ruido mientras te tomas una bebida caliente, estás en el lugar adecuado.
          Apúntate a nuestra newsletter para estar al tanto de las actividades y novedades literarias y
          consigue GRATIS la guía con diez consejos para empezar a bajar el ritmo y disfrutar del
          momento presente.</p>
      </div>

      <div class="foto-about3 video-background">
        <div class="video-wrapper">
          <video id="background-video" src="/assets/img/video2.mp4" alt="video sobre nosotras" autoplay muted loop playsinline>
            Tu navegador no soporta la etiqueta de video.
          </video>
        </div>
        <div class="botones">
          <button>
            <a routerLink="/contacto">QUIERO LA GUÍA PARA BAJAR EL RITMO</a>
          </button>
        </div>
      </div>
    </section>

    <!-- Sección 4 -->
    <section class="section about4" id="about4">
      <div class="manifiesto">
        <h5>Nuestro manifiesto:</h5>

        <ul>
          <li>Creemos en las buenas historias, esas que te atrapan desde el principio y no puedes
            dejar de leer.</li> <br>
          <li>Creemos que las bebidas calientes servidas en tazas bonitas arropan a las personas
            como una manta de patchwork; no soluciona los problemas pero te hace sentir un
            poquito mejor.</li> <br>
          <li>Creemos que la belleza nos salva. La literatura, también.</li> <br>
          <li>Creemos en la nostalgia como refugio de los momentos pasados donde fuimos felices.
            No podemos vivir eternamente en ellos pero suponen un bote salvavidas para los días
            de tormenta.</li> <br>
          <li>Creemos en los libros en papel porque suponen una experiencia totalmente distinta la
            de pasar las página con el dedo, anotar y subrayar lo que nos ha llamado la atención
            para volver a releerlo siempre que lo necesitemos. Además, los digitales no se pueden
            oler, no guardan flores en su interior o muestran los rastros de lágrimas o de café. No,
            solo los libros reales hacen esas cosas.</li> <br>
          <li>Creemos en disfrutar de los pequeños momentos que nos aportan felicidad, ya sea
            observando el fuego de la chimenea, paseando por la naturaleza, cuidando tus plantas
            o leyendo un libro.</li> <br>
          <li>Creemos que los libros están vivos porque te hacen sentir, pensar y avanzar. Quienes
            leen, viven más de una vida, viven tantas como historias caigan en sus manos. Y esa es
            una bonita manera de aprovechar el tiempo que estamos aquí.</li>
        </ul>
      </div>
      <div class="foto-manifiesto">
        <img class="foto" src="/assets/img/periodico.jpg" alt="mujer leyendo el periodico">
      </div>
    </section>

    <!-- Sección 5 -->
    <section class="section about5" id="about5">
      <div class="texto-left">
        <p>Queremos vivir en un mundo en el que esté normalizado pasar un duelo al acabar un libro, que
          tu crush sea un personaje literario y que todos los días sean el día del libro. Un mundo donde
          al tener un día malo puedas ir a tu librería de confianza para que te receten la novela para
          sentirte mejor. Sería maravilloso.</p><br>
        <h2>Algo más sobre nosotras</h2>
        <div class="foto-about5">
          <img class="foto" src="/assets/img/nosotres.png" alt="mujer leyendo el periodico">
        </div>
      </div>

      <div class="texto-right">
        <p>Somos M. y M. Lectoras empedernidas y amantes de todo lo hogareño que nos transmita
          calma y paz. Por eso coleccionamos tazas, bufandas y adornos navideños. Viajamos para
          probar buenos platos y comprar buenas historias. Atentas a los pequeños detalles que nos
          hacen sonreír, preferimos regalar a que nos regalen. Por lo general, se nos puede encontrar en
          alguna cafetería tomando chocolate caliente o perdidas en librerías con encanto donde no
          existe el concepto tiempo.</p> <br>
        <div class="botones">
          <button>
            <a href="/contacto#section2">QUIERO APUNTARME A LA NEWSLETTER</a>
          </button>
        </div>
      </div>
    </section>

    <!-- Testimonios -->
    <section class="section about6" id="about6">
      <div class="testimonios">
        <h1>lo que dicen de nosotras</h1>
        <p>Nos encanta conocer la experiencia de quienes visitan nuestra librería, que se
          acerquen o nos escriban para contarnos si han devorado o no la recomendación
          que les hemos hecho. Y sobre todo, saber que volverán de nuevo.
        </p><br>
      </div>
      <div class="testimonios-articles">
        <article>
          <img class="article-imagen" src="/assets/img/alicia.jpg" alt="">
          <h5>Alicia</h5>
          <p>“Esta librería se ha convertido, sin
            duda alguna, en una de mis favoritas.
            La estética y la atmósfera son
            perfectas para quienes deseamos
            pasear entre estanterías en busca
            de nuestra próxima lectura. Pero al
            mismo tiempo es un peligro porque
            cada vez que entro salgo con una
            bolsa de libros. ¡Quedáis
            prevenidos!”.</p>
        </article>

        <article>
          <img class="article-imagen" src="/assets/img/alvaro.jpg" alt="">
          <h5>Álvaro</h5>
          <p>“Tuve la suerte de asistir la semana
            pasada a la presentación del libro
            XXXX y estuve mucho a gusto. El
            clima era cercano y familiar, sin
            protocolos rígidos donde uno no
            sabe dónde sentarse y levanta la
            mano para preguntar. Era más bien
            como una reunión de amigos
            debatiendo las partes que más les
            han gustado. Estoy deseando ir a la
            próxima”.</p>
        </article>

        <article>
          <img class="article-imagen" src="/assets/img/marga.jpg" alt="">
          <h5>Marga</h5>
          <p>“Es una librería que te ofrece las dos
            cosas que más me gustan: el olor a
            libros nuevos y la posibilidad de
            beber y comer algo en un entorno
            muy acogedor. Yo siempre leo
            acompañada de un café por la tarde
            y aquí me he sentido como en casa.
            Especial atención al bizcocho de
            limón, impresionante”.</p>
        </article>
      </div>
    </section>

    <!-- Sección 7 -->
    <section class="section about7" id="about7">
      <h1>Hablando de historias en</h1>
      <div class="podcast">
        <img class="podcast-imagen" src="/assets/img/cultural.png" alt="">
        <img class="podcast-imagen" src="/assets/img/libros-de-arena.jpg" alt="">
        <img class="podcast-imagen" src="/assets/img/gabinete.png" alt="">
      </div>
      <div class="about7-final">
        <p>Descubre tu cueva de las maravillas particular donde rodearte de los clásicos de
          siempre y las últimas novedades con los que desconectar del estrés del mundo real.
          Únete al club de lectura y comparte momentos increíbles con personas tan bibliófilas
          como tú.</p>
        <button>
          <a href="/contacto#section2">QUIERO APUNTARME A LA NEWSLETTER</a>
        </button>
      </div>
    </section>
  </div>
</div>

