/* about1 */
.about1 {
  height: 100vh;
  display: flex;
  align-items: center;
}

.texto-about1 {
  padding-top: 150px;
  padding-bottom: 120px;
  width: 25%;
  margin: 0 auto;
}

h5{
  font-family: "Forum", serif;
  text-transform: uppercase;
  color: var(--color-secundario);
}

p {
  font-size: 16px; /* Cambiado a px */
  text-align: left;
  color: rgb(116, 87, 40);
}

.foto-about {
  width: 38%;
  margin: 0 auto;
  margin-top: 90px;
  overflow: hidden;
}

.foto-about img {
  width: 100%;
  height: 80vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* about2 */
.about2 {
  height: 100vh;
  display: flex;
  align-items: center;
}

.texto-about2 {
  width: 40%;
  margin: 0 auto;
  margin-top: 90px;
  margin-right: 150px;
}

.texto-about2 p {
  width: 100%;
}

.destacado-about2 h5 {
  font-size: 30px; /* Cambiado a px */
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgb(184, 161, 122);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  width: 200%;
  text-align: center;
  position: relative;
  z-index: -1;
  transform: translateX(-30%);
}

/* about3 */
.about3 {
  height: 100vh;
  display: flex;
  align-items: center;
}

.texto-about3 {
  width: 40%;
  height: 600px;
  margin: 0 auto;
  z-index: 2;
}

.texto-about3 p {
  width: 73%;
  font-size: 16px; /* Cambiado a px */
}

.texto-about3 h5 {
  font-size: 30px; /* Cambiado a px */
  color: white;
  padding-top: 20px;
  text-transform: uppercase;
}

.p1 {
  color: white;
}
.destacado-about3 {
  background-color: rgba(184, 161, 122, 0.809);
  width: 90%;
  height: 170px;
  position: absolute;
  transform: translateX(-30%);
  z-index: -1;
}

.foto-about3 {
  width: 40%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 80vh;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.botones{
  margin-top: 20px;
}

.about4 {
  height: 100vh;
  display: flex;
  align-items: center;
}

.manifiesto {
  width: 50%;
  margin: 0 auto;
}

.manifiesto ul {
  font-family: "Forum", serif;
  width: 80%;
  color: rgba(118, 97, 65, 0.865);
  list-style: none;
}

.manifiesto h5 {
  font-size: 40px;
  color: rgba(118, 97, 65, 0.865);
  padding-top: 70px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.foto-manifiesto {
  width: 40%;
  margin-top: 70px;
}

.foto-manifiesto img {
  width: 80%;
  height: 90vh;
  margin-left: 100px;
  border-top-left-radius: 0;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.about5 {
  height: 100vh;
  display: flex;
  align-items: center;
}

.texto-left {
  width: 50%;
  margin: 0 auto;
  margin-top: 70px;
}

.texto-left h2 {
  text-transform: uppercase;
  color: rgba(118, 97, 65, 0.865);
  margin-left: 509px;
  padding: 0px;
  position: absolute;
  font-size: 36px;
}

.texto-left p,
.texto-right p {
  width: 60%;
  margin: 0 auto;
  color: rgba(139, 117, 85, 0.865);
  font-size: 16px;
}

.texto-right {
  width: 50%;
  margin: 0 auto;
  margin-top: 370px;
}

.texto-right button {
  margin-left: 250px;
  margin-top: 20px;
}

.foto-about5 {
  width: 70%;
  margin: 0 auto;
  margin-top: 90px;
}

.foto-about5 img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
}

.about6 {
  height: 100vh;
  display: block;
  align-items: center;
  text-align: center;
  font-family: "Forum", serif;
  font-weight: normal;
}

.testimonios h1,
.about7 h1 {
  font-size: 36px;
  font-family: "Forum", serif;
  text-transform: uppercase;
  padding-top: 120px;
}

.testimonios p {
  width: 590px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.testimonios-articles {
  display: flex;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.article-imagen {
  width: 160px;
  height: 160px;
  margin: 20px;
}

article p {
  margin: 0 auto;
  width: 80%;
  font-size: 16px;
}

.about7 {
  height: 100vh;
  display: block;
  align-items: center;
  margin-bottom: 100px;
  text-align: center;
}

.podcast-imagen {
  width: 200px;
  height: auto;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.about7-final {
  margin-top: 100px;
  background-color: rgba(139, 117, 85, 0.758);
  padding: 30px;
  height: auto;
}
.about7-final p {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
}


@media (max-width: 768px) {
  .about1,
  .about2,
  .about3,
  .about4,
  .about5,
  .about6,
  .about7 {
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-top: 100px;
  }

  .texto-about1,
  .texto-about2,
  .texto-about3,
  .manifiesto,
  .texto-left,
  .texto-right {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
  }

  .texto-about1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  .about1 .foto-about{
    margin-top:0px;
  width: 60%;
  }

  .foto-about img {
    width: 100%;
    height: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .about2 .foto-about {
    width: 100%;
  }
  .about2 .foto-about img {
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    mask-image: linear-gradient(to top, rgb(255, 255, 255) 30%, transparent);
    z-index: -1;
  }

 .video-wrapper {
    display: none;
  }


  .about3 .botones{
      position: fixed;
      margin-top: 50px;
  }

  .destacado-about2 h5,
  .texto-about3 h5 {
    font-size: 20px;
  }

  .destacado-about3 {
    width: 100%;
    height: 165px;
    transform: none;
  }

  .texto-left h2 {
    margin-left: 0;
    text-align: center;
    font-size: 24px;
  }

  .texto-right {
    margin-top: 20px;
    text-align: center;
  }

  .texto-left p,
  .texto-right p {
    width: 100%;
    font-size: 16px;
  }

  .testimonios h1,
  .about7 h1 {
    padding-top: 80px;
    font-size: 28px;
  }

  .testimonios p {
    width: 90%;
    font-size: 16px;
  }

  .article-imagen {
    width: 80px;
    height: 80px;
  }

  .testimonios-articles {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .article-imagen {
    width: 30%;
    height: auto;
    margin: 10px 0;
  }

  article p {
    width: 80%;
    margin: 10px auto;
    font-size: 16px;
  }

  .podcast-imagen {
    width: 100px;
    height: auto;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .about7-final {
    height: auto;
    padding: 30px;
  }

  .about7-final p {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .foto-manifiesto {
    width: 100%;
  }
  .foto-manifiesto img {
    width: 100%;
    height: auto;
    margin-left: 0px;
    border-radius: 0%;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.883) 80%,
      transparent
    );
    z-index: -1;
  }

  .podcast-imagen {
    width: 80px;
    margin-top: 20px;
  }

   .botones .button {
    margin: 20px auto;
    font-size: 14px;
  }
}

@media (max-width: 480px) {


  .texto-about2,
  .texto-about3,
  .manifiesto,
  .texto-left,
  .texto-right {
    width: 90%;
  }

  .texto-about1 {
    width: 90%;
    margin-top: -50px;
  }

  p {
    font-size: 13px;
    text-align: justify;
  }

  .texto-about3 p {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .destacado-about3 {
    width: 100%;
    height: 186px;
    margin-top: -51px;
  }

  .texto-about3 h5 {

    margin-left: 20px;
    margin-top: -54px;
  }
  .video-wrapper {
    display: none;
  }

  .about1 .foto-about {
    margin-top: 0px;
    width: 80%;
}

.about2 .foto-about {
  position: relative;
  top: -25px;
  width: 100%;
  z-index: -1;
}

  .about2 .foto-about img {
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    mask-image: linear-gradient(to top, rgb(255, 255, 255) 30%, transparent);
    z-index: -1;
  }

  .texto-about2 .p-1 {
    margin-top: -700px;
    z-index: 10;
    font-size: 15px;
  }

  .destacado-about2 h5 {
    font-size: 25px;
    margin-left: 30px;
    margin-top: 300px;
    z-index: 10;
  }

  .texto-left h2{  font-family: "Forum", serif;
    position: relative;
    font-size: 25px;
    top: -35px;
}

  .texto-left p {
    margin-bottom: 100px;
    margin-top: -150px;
  }

  .destacado-about3{
    background-color: rgba(184, 161, 122, 0.644);
    width: 115%;
    left: -15px;
    height: 163px;
    margin-top: -70px;
}


  .texto-about3 h5{
    margin-top: -66px;
}


  .testimonios     h1 {
    padding-top: 0px;

}
  .testimonios p,
  article p {
    font-size: 14px;
  }

  li {
    margin-left: -50px;
    list-style: circle;
    font-size: 12px;
  }

.about4{
  margin-top: -500px;
}

.manifiesto  h5 {
  padding-top: 0px;
}

  .foto-manifiesto {
    width: 100%;
  }

  .foto-manifiesto img {
    width: 100%;
    height: auto;
    margin-left: 0px;
    border-radius: 0%;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.883) 80%,
      transparent
    );
    z-index: -1;
  }

  .foto-about5 {
    width: 100%;
    margin-top: 40px;
}

  .foto-about5 img {
    width: 100%;
    height: auto;
}

  .podcast-imagen {
    width: 80px;
    margin-top: 20px;
  }

  .about7-final p {
    font-size: 10px;
    width: 90%;
  }

  .foto-about3 .botones {
    margin-top: 80px;
    font-size: 14px;
  }

 


}
