:root {
  --color-contain: #e8decf4c;
  --color-principal: #8f7b61; /*base*/
  --color-secundario: #c1ac90; /*fondos textos*/
  --color-secundario-transparente: #c1ac90d3;
  --color-titulo: #805541;
  --color-texto: #b28564; /*texto normal*/
  --color-texto-white: white; /*texto blanco*/
  --color-boton: #efe2d2; /*background-boton */
  --boton-background-color: #706251; /*boton hover*/
  --color-hover-boton: white; /*letras hover boton*/
  --color-fondo-cabecera: #f9f3ec;
  --color-forma: #75644fbb;
  --color-footer: #9c938a;
  --color-blog:#f1f1f0cd;
  font-size: 15px; /* 1 rem = 16px */
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Forum", serif;
  font-size: 2.5rem; /* Ajuste en rem */
}

h2 {
  font-family: "Forum", serif;
  font-size: 2.25rem; /* Ajuste en rem */
}

h3 {
  font-family: "Forum", serif;
  font-size: 2rem; /* Ajuste en rem */
}

h4 {
  font-family: "Forum", serif;
  font-size: 1.75rem; /* Ajuste en rem */
}

h5 {
  font-family: "Forum", serif;
  font-size: 1.25rem; /* Ajuste en rem */
}

p {
  font-family: "Forum", serif;
  font-size: 1rem; /* 16px */
  font-weight: lighter;
  text-align: justify;
}

ul {
  font-family: "Forum", serif;
  list-style: circle;
  font-size: 1rem;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.contain {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: auto;
  position: relative;
  background-color: var(--color-contain);
}

.section {

  transform: translateY(50px);
  margin-bottom: 100px;
 
}


/* boton volver arriba  */
.btn-back-to-top {
  width: 50px;
  position: fixed;
  /* text-transform: uppercase; */
  /* font-family: "Forum", serif; */
  bottom: 10px;
  right: 10px;
  background-color: var(--color-boton);
  padding: 10px 5px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.377);
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  align-content: center;
  justify-content: center;
  border: none;
}
.btn-back-to-top img {
  width: 20px;
  height: 20px;
}

.btn-back-to-top:hover {
  transform: translateY(-2px);
  background-color: var(--boton-background-color);
  color: var(--color-texto-white);
}

.btn-back-to-top:active {
  transform: translateY(1px);
}

/* loader */
.loader-container {
  position: fixed; /* Fijo para cubrir toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  display: flex; /* Centrar el loader */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegurarse de que esté por encima de otros elementos */
}

.loader {
  width: 200px;
  height: 140px;
  background: #979794;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  perspective: 1000px;
}

.loader:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 8px;
  background: #f5f5f5 no-repeat;
  background-size: 60px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0);
  background-position: 15px 30px, 15px 60px, 15px 90px, 105px 30px, 105px 60px,
    105px 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.loader:after {
  content: "";
  position: absolute;
  width: calc(50% - 10px);
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius: 8px;
  background: #fff no-repeat;
  background-size: 60px 10px;
  background-image: linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 100px, transparent 0);
  background-position: 50% 30px, 50% 60px, 50% 90px;
  transform: rotateY(0deg);
  transform-origin: left center;
  animation: paging 1s linear infinite;
}

@keyframes paging {
  to {
    transform: rotateY(-180deg);
  }
}

/* Ocultar barras de scroll */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  overflow-x: hidden;
  font-family: "Bodoni Moda", serif;
  font-weight: lighter;
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* estilos generales */

.cita,
cite {
  display: block;
  font-style: italic;
  text-align: center;
}

q {
  quotes: "“" "”" "‘" "’";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

.button {
  width: 200px;
  height: 45px;
  background: var(--color-boton);
  border-radius: 8px;
  border: 2px solid var(--color-boton);
  box-shadow: 2px 2px 8px rgba(114, 114, 114, 0.913);
  font-size: 9px;
  font-weight: lighter;
  color: var(--color-texto);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: relative;
  overflow: hidden;
  padding: 10px 10px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.button:before {
  width: 50%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0%;
  left: -50%;
  background: var(--boton-background-color);
  transition: all 0.5s ease;
  z-index: -1;
}

.button:after {
  width: 50%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0%;
  left: 100%;
  background: var(--boton-background-color);
  transition: all 0.5s ease;
  z-index: -1;
}

.button:hover {
  color: var(--color-texto-white);
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(55, 54, 54, 0.913);
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(1px);
}

.button:hover:before {
  top: 0;
  left: 0;
}

.button:hover:after {
  top: 0;
  left: 50%;
}

.button a {
  font-family: "Forum", serif;
  text-decoration: none;
  font-size: 0.625rem;
  font-weight: 550;
  color: var(--color-texto);
}

.button:hover > a {
  color: var(--color-texto-white);
}

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.875rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8125rem;
  } /* 13px */
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.875rem;
  } /* 12px */
}
