.logo {
  margin: 0 auto;
  margin-top: 120px;
  width: 100%;
}

.title1 {
  font-size: 40px;
  color: var(--color-texto);
  font-family: "Bodoni Moda SC", serif;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 4px 0px 0 rgba(180, 180, 180, 0.7);
}

.title2 {
  font-size: 40px;
  color: var(--color-texto);
  font-family: "Allura", cursive;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 3px 0px 0 rgba(152, 152, 152, 0.7);
}

.cabecera {
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  padding-bottom: 50px;
  background-color: var(--color-blog);
}

.cita,
cite {
  font-size: 14px;
  padding: 20px;
  position: relative;
  color: var(--color-secundario);
}

/* ENCABEZADO DEL BLOG */
.blog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  color: var(--color-texto);
}

.blog__header {
  text-align: center;
}

.blog__title {
  font-size: 2.5rem;
  color: var(--color-titulo);
}

.blog__subtitle {
  font-style: italic;
  color: var(--color-texto);
}

/* POSTS DEL BLOG */

.blog-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--color-blog);
}

.blog__posts {
  flex: 5;
}


.foto-about img{
  width: 100%;
}

.description{
margin-top: 20px;
margin-bottom: 20px;
color: var(--color-texto);
}

.blog__aside {
  flex:1;
  /* background-color: var(--color-fondo-cabecera); */
  padding: 0px 20px 20px;
  margin-right: 10px;
  /* margin-bottom: 30px; */
  /* border: 1px solid var(--color-principal);
  border-radius: 10px; */

}

.blog__aside h3 {
  font-size: 1.5rem;
  color: var(--color-titulo);
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.blog__aside ul {
  list-style: none;
  padding: 0;
  margin-left: 0px;
}

.blog__aside li {
  margin-bottom: 10px;
}

.blog__aside a {
  text-decoration: none;
  color: var(--color-texto);
  font-size: 1rem;
  transition: color 0.3s;
}

.blog__aside a:hover {
  color: var(--color-principal);
}

.blog__posts{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* margin-left: 30px; */
  background-color: var(--color-blog);
  flex-direction: column;
  align-content: center;
  padding-bottom: 100px;
}

.blog__post{
  background-color: var(--color-fondo-cabecera);
  border: 1px solid var(--color-principal);
  border-radius: 10px;
  overflow: hidden;
  width: 70%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  transition: all 0.9s ease-out;
  height: auto;
  opacity: 1;
  flex-wrap: wrap;
  align-items: center;
}

.blog__post.expanded{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.blog__image {
  width: 50%;
  max-height: none;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

.blog__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.blog__content {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.blog__post-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-titulo);
}

.blog__post-meta {
  font-size: 0.9rem;
  margin: 10px 0;
  color: var(--color-secundario-transparente);
}

.blog__post-description {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--color-texto);
  overflow: hidden;
  max-height: 12rem;
  text-overflow: ellipsis;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

.blog__post.expanded .blog__post-description {
  max-height: none;
  white-space: normal;
  padding-top: 10px;
}


.ver{
  margin-top: 20px;
  color: var(--color-texto);
  background: none;
  border: none;
  text-decoration: overline;
  }

  .ver:hover{
    text-decoration: underline;
    color: var(--color-titulo);
  }


@media screen and (max-width: 768px) {
  .blog__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .blog__post {
    width: 90%;
    flex-direction: column;
  }

  .blog__post.expanded {
    width: 98%;
  }

  .blog__image {
    width: 100%;
    height: auto;
    max-height: none;
    border-radius: 10px 10px 0 0;
  }

  .blog__content {
    width: 98%;
    padding: 10px;
  }

  .blog__post-title {
    font-size: 1.3rem;
  }

  .blog__post-description {
    font-size: 0.9rem;
  }
/* aside */
  .blog-container {
    flex-direction: column;
  }

  .blog__aside {
    margin-top: 20px;
  }
}
